[2014-07-18 13:39] dreispt opened #11 "[6.1] Fix `hr_interview` dependency on `smtpclient`"
6.1 tests are failing because:

[code]

[2014-07-22 13:13] bwrsandman opened #13 "[7.0] Fix error in Aeroo reports"
Test fail in travis due to Aeroo reports

[code]

[2014-08-01 15:11] bwrsandman opened #18 "Audit modules in hr"
Some of the code in hr is of poor quality and their uses are questionable
- Very long functions
- Multiple classes in same script
- Very long lists of columns added to models
- Unclear usage
- Lack of tests
## Suggested Action Plan
1. [x] Fix style errors with #17
2. [x] Fix build errors
3. [ ] Do the refactoring with the port to v8, keeping the old API - Audit and review
4. [ ] Backport enhanceme

[2014-08-01 15:59] dreispt commented on #18
IMO this work should mostly be done in parallel with the port to v8.

My suggested action plan:
  1) Customize the v7 repo TravisCI to ignore style errors.
  2) Fix v7 build errors ASAP to get TravisCI green
  3) Do the refactoring with the port to v8, keeping the old API
  4) And then backport the refactoring to v7.

[2014-08-01 17:14] bwrsandman commented on #18
I would replace 1) with finishing #17 I'm about half way through and I intend to finish.
I would then add 5) use new api for v8

I problem I see is the changes we will have to do for v8 wont all be back-portable (i.e. changes to xpaths)

[2014-08-31 23:42] diassynthesis opened #19 "patch disappeared from hr_payroll_extension: is that intentional?"
Is the hr_payroll patch no longer needed for V7.0 ?

[2014-09-12 08:00] eLBati commented on #13
About aeroo inclusion: https://github.com/OCA/reporting-engine/issues/1

[2014-09-16 15:39] dreispt opened #21 "Set 8.0 as default branch"
Please.

[2014-09-17 07:27] dreispt commented on #19
Could you be more specific?

[2014-09-17 13:58] diassynthesis commented on #19
For V7.0, on 09/28/2013 the folder "patches" under "hr_payroll_extension" was deleted.

[2014-09-17 16:52] dreispt commented on #19
That 's commit https://github.com/OCA/hr/commit/a314d8ec9377472fd4d50888718defe3c1668de4 by @max3903 .
Maybe he can help.

[2014-09-17 17:33] diassynthesis commented on #19
I understand that the folder "patches" does not have its place in the OpenERP's Module Folder Structure.
What i want to know is, if the patch is still necessary to make  the module work properly, this should be at least,  clearly indicated in the manifest file (@ the 'description' section), and put a link to the patch file.

[2014-09-29 13:46] dreispt commented on #21
Just merged #22, so the 8.0 branch is now a clean slate...

[2014-10-01 16:03] lepistone opened #24 "there is a branch master, while 8.0 is full of unported modules"
I imagine 8.0 should be deleted, and master renamed 8.0. What do you think @dreispt? I can do that myself if you agree.

[2014-10-01 22:01] dreispt commented on #24
Ouch! I totally agree. It would be great if you could do that.

[2014-10-04 00:57] pedrobaeza commented on #24
Yeah, you should do the move to `__unported__` dir and put installable flag to false, and then make 8.0 the default branch, deleting the master one, because master doesn't contain the PEP8 fix.

[2014-10-04 08:56] dreispt commented on #24
I now see what happened: https://github.com/OCA/hr/pull/22 was made against `master` because I didn't realize `8.0` was not the default branch yet!
It's best to delete `8.0` and rename `master`.

[2014-10-04 09:05] pedrobaeza commented on #24
But master branch doesn't have PEP8 applied. Diffs are going to be contaminated with PEP8 + migration. I prefer to start from 8.0 branch and cherrypick https://github.com/dreispt/hr/commit/5ad7a4e33344759d270d0b71890a7f8242db79f7

[2014-10-04 09:06] dreispt commented on #24
OK.

[2014-10-05 23:16] pedrobaeza commented on #24
8.0 branch is now updated. We should remove master and make 8.0 the default one.

[2014-10-05 23:16] #24 closed, assigned to nobody

[2014-10-06 07:48] lepistone commented on #19
Hi @max3903. Was that patch removed intentionally in https://github.com/OCA/hr/commit/a314d8ec9377472fd4d50888718defe3c1668de4 or is it a faulty merge? Thanks!

[2014-10-06 07:49] lepistone commented on #21
@gurneyalex did that. Thanks!

[2014-10-06 07:49] #21 closed, assigned to nobody

[2014-10-06 07:51] lepistone commented on #24
@pedrobaeza: thanks, @gurneyalex set the default branch to 8.0

[2014-10-17 15:43] moylop260 opened #27 "[7.0][hr_family] REF Proposal to add many family in one2many"
Hello,
We need a module that add family model.
Similar to hr_family module, but this should be one2many.

I want make a PR to 8.0 with this feature.
But I don't know if is a good idea.

[code]

What do you think?

[2014-10-17 15:48] pedrobaeza commented on #27
I think it's better to migrate @hbrunn module _partner_relations_, that covers this and others needs:

https://github.com/OCA/partner-contact/pull/15

[2014-10-17 16:30] moylop260 commented on #27
@pedrobaeza,
Good thank you

I see this solution in res.partner done
What is your proposal with this module for HR?

[2014-10-17 16:33] pedrobaeza commented on #27
An employee always has a related partner, and a partner can have with this module all the relations you want, including father, mother, brother, sons, and so on.

[2014-10-17 16:44] moylop260 commented on #27
Ok,
I got it
Thank you

What I can help?

[2014-10-17 16:44] #27 closed, assigned to nobody

[2014-10-17 16:52] pedrobaeza commented on #27
You can review the module to get accepted on 7.0, and migrated to 8.0

[2014-10-17 19:34] yaniaular opened #28 "Is there a module that allows to register credits or loans to employees?"
Hello everybody,

I need a module that allow to register credits or loans for employees.
I want make a loan module to Odoo.
But I don't know if is a good idea or if already exists.

Thanks.

[2014-10-20 07:22] moylop260 opened #29 "[8.0][REF][hr_holidays] Holidays advanced"
We will make a module that add holidays validations.
*As max days of holidays.
*Compute number total of holidays (without free days or weekend).
*Payment of holidays

Is a good idea make a PR here?

[2014-10-20 08:11] yvaucher commented on #29
As there is https://github.com/OCA/hr/tree/7.0/hr_holidays_extension
in this branch, this is the right place.

[2014-10-20 14:21] bwrsandman commented on #29
This is the right place. Take a look in `__unported__` to see if such a module already exists.

[2014-10-20 14:21] #29 closed, assigned to nobody

[2014-10-20 14:30] moylop260 commented on #29
Ok, I got it
Thank you

[2014-10-20 14:54] moylop260 opened #30 "[8.0][REF][hr_loan] Loan to employee"
We will work in a new modulo to manage loans to employee.
I like know if there is a module created to this matter before to work in 7.0

[2014-10-20 15:32] bwrsandman commented on #30
Related to #28

[2014-10-20 15:33] bwrsandman commented on #13
7.0 is passing, so I am closing this

[2014-10-20 15:33] #13 closed, assigned to nobody

[2014-10-20 15:38] bwrsandman commented on #11
Module is from extra addons
http://bazaar.launchpad.net/~credativ/openobject-addons/extra-6.1/files/head:/smtpclient/

[2014-10-20 15:56] dreispt commented on #11
IMO the dependency should be removed. Or at least isolated in a non-OCA module.

[2014-10-20 15:58] bwrsandman commented on #11
Will the module work without that deps?

[2014-10-20 16:02] dreispt commented on #11
Didn't read the code, but from the description of `smtpclient` I don't see why it shouldn't.
I'm for a quick fix removing the features where the dependency is required.
Probably current Email Templates can do the job, and anyone interested can properly restore them in a later PR.

[2014-10-21 00:31] moylop260 commented on #30
Right! Deja Vu, sorry. hehe
We don't receive a reply.
We will start to work this module.

[2014-10-21 00:31] #30 closed, assigned to nobody

[2014-10-23 22:13] moylop260 opened #32 "[Question][hr_working_hours] REF to detect delays and overtimes"
Hello OCA team,
Anybody know a module that allow detect delays and overtimes of employee based on "working hour" configuration of his hr.contract?

[2014-11-07 20:37] #11 closed, assigned to nobody

[2014-12-12 12:14] dreispt commented on #32
I guess not.

[2014-12-12 12:16] dreispt commented on #28
Is seems that such a module is not known to exist, but @moylop260 has plan to build it, as per #30.

[2014-12-12 12:16] #28 closed, assigned to nobody

[2014-12-12 12:17] dreispt commented on #19
@bwrsandman @max3903 Was the patch obsolete?

[2014-12-12 15:21] bwrsandman commented on #19
I can't speak as to why it was deleted, but I don't see why the changes in the patch couldn't be done as a module...

We should not encourage patching the server.

[2014-12-12 16:02] dreispt commented on #19
@diassynthesis Do you think we can close this?

[2014-12-12 23:24] diassynthesis commented on #19
Not yet please. I've posted a message at http://miketelahun.wordpress.com and i'm waiting for a reply

[2014-12-13 00:42] dreispt commented on #19
If @miketelahun should comment on this, it's best to just mention him as I just did.
I've just reviewed the diff, it's related to the "Need Action" mechanism, not to HR or Payroll.

So it definitely shouldn't be in the module.
I guess I can answer your question: it's not needed.

[2014-12-13 07:38] diassynthesis commented on #19
@dreispt Yes, you can close this issue. Just another question (not directly related to this branch, but related to the hr_payroll module): Could you please take a look at https://github.com/odoo/odoo/issues/3916 and tell me what you think about the last lines of the "hr_payroll-hr_payroll.patch".Thank you and best regards.
NB: The related patch is "hr_payroll-hr_payroll.patch"and not the "openobje

[2014-12-13 11:26] miketelahun commented on #19
The file removed in a314d8e is not necessary, as it relates to a useability improvement for ir.need_action

[2014-12-13 12:21] diassynthesis commented on #19
Thank you, but are you talking about "openobject-server-openerp-addons-base-ir-ir_ui_menu.patch" or "hr_payroll-hr_payroll.py-patch", or both.

[2014-12-13 13:15] pedrobaeza commented on #32
I don't know also.

[2014-12-15 13:39] ghost commented on #32
hi @moylop260, I don't think there is a module like this. But you could easily make it by adding one field in the 'resource.calendar.attendance' model.

[2014-12-15 15:30] miketelahun commented on #19
I am talking about openobject-server-openerp-addons-base-ir-ir_ui_menu.patch

On 12/13/2014 03:21 PM, diassynthesis wrote:

[2014-12-15 16:15] diassynthesis commented on #19
What about the "hr_payroll-hr_payroll.py-patch".

[2014-12-21 11:03] diassynthesis commented on #19
Still waiting for a response about "hr_payroll-hr_payroll.py-patch".                                                        About https://github.com/odoo/odoo/issues/3916 , solved but !!! a new bug revealed  https://github.com/odoo/odoo/issues/4363

[2014-12-21 12:31] dreispt commented on #19
OCA modules shouldn't have bug patches in them.

If you have a bug, open an Odoo issue. For community maintained patches, look at the OCA/OCB project. You can also file the Issue there, but I believe an OCB PR would also be expected. In case you are not able to provide a fix yourself, my honest advice is to seek expert help.

This issue should be closed, since bug fixes are out of scope for OCA mo

[2014-12-21 14:42] diassynthesis commented on #19
@dreispt That's what I've said in my third comment. I will close this issue at the end of this comment. @miketelahun I just want to know, if the "hr_payroll-hr_payroll.py-patch" is  needed or not ?             Thank you and best regards.

[2014-12-21 14:42] #19 closed, assigned to max3903

[2015-01-14 08:15] gurneyalex opened #62 "remove addons depending on aeroo reports"
The following addons depend on aeroo report:
-    hr_payroll_register_report
-    hr_report_manpower
-    hr_report_payroll_attendance_summary
-    hr_report_payroll_net
-    hr_report_turnover

Aeroo reports is not an OCA module and the OCA policy is to not depend on 3rd party modules.

In the discussion on OCA/reporting-engine/issues/1, the main author of aeroo reports strongly objected to the i

[2015-01-14 09:00] lepistone commented on #62
I respect @sraps's wish to keep aeroo in his personal repository and not within OCA, and I would not duplicate it for inclusion (even if we had a CLA, which we don't).

:+1: on the removal of depending modules then.

[2015-01-14 10:18] dreispt commented on #62
:+1: but we need a new home for them. Any volunteers?

[2015-01-14 14:12] bwrsandman commented on #62
We could code sprint the rewriting of the reports in another engine. I would be in. :+1:

[2015-01-14 14:15] dreispt commented on #62
@bwrsandman that should be QWeb reports.

[2015-01-14 14:39] rvalyi commented on #62
just as a note: I'm not sure going invented QWeb TM is any more sustainable than relying on Aeroo. As for myself I think that if reports are a bit complex, having them in another non core OCA repo (it can work just like an OCA repo it would just miss the "label") is more sustainable than doing QWeb rewrite, but that's just my opinion. Now if these reports are broken already (I don't know) then it'

[2015-01-14 15:29] gurneyalex commented on #62
For the record, I have no issue against these reports as they stand. It's just that they are not compliant with our policy, and I welcome any initiative to move them out of OCA instead of plain removal. I won't do it because I'm not using aeroo in my day to day work, and the tone of the current aeroo maintainer does not make me look forward to supporting users of this module.

The suppression PR i

[2015-01-14 20:01] sraps commented on #62
"the tone of the current aeroo maintainer does not make me look forward to supporting users of this module"
@gurneyalex

I see that there are some pressure applied to those not agreeing with current state of OCA and the Odoo iself. Something like "give up for good", read all the communication from people mostly never interested in Aeroo. You may like it or not, but I am interested in people using

[2015-01-14 22:10] dreispt commented on #62
@rvalyi I believe that no OCA repo should depend on a specific report engine (other than the provided by the core). This allows each one to be free to pick their favorite engine: Aeroo, Webit, whatever.
So, IMO it makes sense to remove the dependencies, even if Aeroo were an OCA project.

Having said that, I see no conflict in having an `aeroo_hr`, or maybe a global `aeroo_reports` repo in OCA. Or

[2015-01-14 22:44] sraps commented on #62
My stance is, I would like to see generic Aeroo related modules alongside Aeroo itself, whilst reports should be hosted along the "vertical" module.  For example along hr thematic. This would make sense to the user and professional on the subject.

[2015-01-15 00:37] dreispt commented on #62
@sraps OK.
Anyone else thinks that a `aeroo_hr` or `aeroo_reports` OCA repo makes sense?

[2015-01-15 09:36] StefanRijnhart commented on #62
@dreispt Well, not an OCA repo but maybe put them in an unbranded repo for these purposes. I would not mind being in the maintenance team of such a repo as I like to use Aeroo myself.

[2015-01-20 18:50] alexis-via opened #66 "7.0 hr_holidays_extension: missing employee_id arg in is_public_holiday()"
In hr_holidays_extension, in the method onchange_bynumber() on line 198, there is:

[code]

But, in hr_public_holidays, in is_public_holiday() line 63, the proto is:

[code]

and, if employee_id = None, then it will only search for hr.holidays.public where country_id = False. This is a bug :-(

[2015-01-20 19:00] alexis-via commented on #66
@miketelahun it seems this bug is in your code. What do you think it this issue and the patch I propose ?

[2015-01-22 17:09] yvaucher commented on #66
fixed by #67

[2015-01-22 17:09] #66 closed, assigned to nobody

[2015-02-14 18:32] max3903 opened #74 "Payroll modules"
- [x] Payroll analysis : #72
- [x] Add payslip with year-to-date amount and translated lines : #69
- [x] Added leave accruals module : #34
- [x] Worked Days from Timesheet with Activities : #76
- [x] Add public holidays to the leave types : #78
- [x] Add Employee exemption #83
- [x] Add HR Employee Benefits : #82

[2015-03-17 10:56] tmotyl opened #84 "Do we need to rewrite module to new api before moving it out from _unported?"
Some modules works in v8 as they are (e.g. hr_public_holidays).
Do we need to rewrite them to new api, or can we first move them out from unported and then port to new API?

[2015-03-17 11:24] ghost commented on #84
Hi @tmotyl, hr_public_holidays has no unit test. Even if this module will work on v8, it will need to be reviewed. If we port it to v8 unchanged, nobody will take the time to improve it after.

[2015-04-03 01:56] max3903 opened #86 "Migration to version 8"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-8
# Modules to migrate
- [x] hr_contract_hourly_rate by @feketemihai  in #92
- [ ] hr_contract_init
- [x] hr_contract_multi_jobs by @feketemihai in #91
- [x] hr_contract_reference by @feketemihai in #94
- [ ] hr_contract_state
- [x] hr_department_sequence by @adrienpeiffer in #123
- [x] hr_emergency_contact by @Zwygart in #1

[2015-04-10 15:22] yvaucher commented on #84
In v9 old api compatibility must be dropped, so it must be done sooner or later.
v8 API is much more stable than on its release date, but still there can be some issue mostly when overwriting an old API object with new API.

So what is generally done, is that 7.0 modules ported to 8.0 will be accepted with old API.
But new modules should be in new API.

So if you can port a module and test it just

[2015-04-20 11:33] feketemihai commented on #86
Migration of hr_contract_multi_jobs in #91 and hr_contract_hourly_rate in #92

[2015-04-20 12:40] yvaucher commented on #86
@feketemihai Thanks, list updated

[2015-06-02 09:00] charbeljc commented on #74
#82 was merged yesterday,  #76 has three approvals, issue could be closed now.

[2015-06-02 09:01] #74 closed, assigned to max3903

[2015-07-28 01:27] Zwygart commented on #86
Migrated hr_employee_exemption

[2015-08-11 14:07] Zwygart commented on #86
I'll take the hr_emergency_contact also

[2015-08-12 15:52] dreispt opened #126 "[ROADMAP] Add audit rules"
# Purpose

Add audit rules on master data, automatically installed as long as the audit module is installed.
Audit logs for master data is a common requirement for company internal controls.

[2015-08-12 15:59] max3903 commented on #126
I thought the audit module was obsolete.

What do you mean by HR Master Data ? Is it more than:
- Employees
- Employee Categories
- Departments

[2015-08-14 16:30] JordiBForgeFlow opened #130 "update amounts in timesheet lines after payslip confirmation"
Hi! We are finalizing a module for 7.0 that will allow to update the timesheet lines for a payslip period, based on the calculated average rate (total payslip amount / total hours worked) and the timesheet lines for that payslip period.

This will make sure that the analytic costs created by the timesheet are updated to match with the actual cost once the employee payslip is confirmed.

Would this

[2015-08-14 16:48] ghost commented on #130
How far do you go with this module ?
How do you manage leaves ?
Do you consider social charges that won't appear on the payslip ?
How do you determine the total payslip amount ? With a payslip line ? If so, it should be configurable.

[2015-08-18 05:51] Nisthulan opened #131 "Simple Attendance Integration with Barcode Reader & RaspberryPi"
Hello Community,
I would like to use an easy attendance record system with Odoo.
Instead of using RFID/FingerPrint, Barcode can be considered as a cheap alternative.

My plan is to use an opensource hardware like RaspberryPi connected with
a barcode scanner and, we will run a python script in that, which will read the
inputs from the RaspberryPi, and will communicate with Odoo server via XML-RPC.

[2015-08-19 15:40] mmalorni commented on #86
marcetiennedery et cybermtl travaillent sur le module hr_salary_rule_reference

[2015-08-19 22:07] JordiBForgeFlow commented on #130
Hi @dufresnedavid.

I've been thinking about your questions.... and I'm reconsidering to use this enhancement for now. Mainly because it seems to me that an accurate hourly rate should consider more information, as you described, than I am able to capture in my use case.

Thanks anyway!
Jordi.

[2015-08-19 22:07] #130 closed, assigned to nobody

[2015-09-04 11:32] JordiBForgeFlow opened #135 "Move date in confirmed payslips where force period used"
Dear colleagues,

We have noticed that it is not possible to confirm a payslip for a previous period (use the force period field), if the Salary Journal has the option 'Check Date in Period' set. The application defaults the move date to today's date.

But... we don't want to create a payslip journal entry with date 1st september for a payslip that was supposed to be paid on 1st august. The date a

[2015-09-08 10:50] ghost commented on #135
@jbeficent, See module hr_period. It is still in v7, but it may be ported soon to v8. It does not fix the accounting, but it adds payroll periods management.

There are 3 dates on a payslip, the "Date of Payment", the "Date From" and the "Date To". The date of payment should be used for the payment of the payslip. The payslip's account move is an "Expense move" which theorically should not imply a

[2015-09-08 11:08] JordiBForgeFlow commented on #135
Thanks @dufresnedavid. I will then use "Date To". Once the module is ready I will submit a PR.

[2015-09-08 11:13] ghost commented on #135
@jbeficent Ok, excellent

[2015-09-08 11:45] #135 closed, assigned to nobody

[2015-09-29 08:49] saltonmassally opened #140 "Need for hr_payroll_period"
Hello, I have being looking at working porting several oca/hr addons to 8.0; took a good look at hr_payroll_period and I fail to see remarkable benefits over hr_payslip_run to justify the amount of code and complexity it introduces.

I think going forward we should be concentrating on making hr_payslip_run more usable... what are your thoughts on this?

[2015-09-30 11:34] ghost commented on #140
@tarzan0820 hr_payroll_period is a complete mess. Take a look at hr_period instead. I plan on porting it to v8.

[2015-09-30 11:45] saltonmassally commented on #140
@dufresnedavid thank you and yes hr_period is way better? When do you think you can port over, if not soon I can take a stab at it and create a PR on which we can work...

[2015-09-30 13:00] ghost commented on #140
@tarzan0820 Go ahead, I will assist you. Are you familiar with git filter-branch ? This is required in order to preserve the git history. https://github.com/odoomrp/odoomrp-wip/wiki/Migration-to-OCA

[2015-09-30 15:54] saltonmassally commented on #140
I will take a look a look at it...

[2015-09-30 15:54] #140 closed, assigned to nobody

[2015-10-01 22:19] ehdem commented on #86
@max3903 : I am working on this module hr_labour_union

[2015-10-01 23:00] Ehtaga commented on #86
@max3903 I'm on hr_resume

[2015-10-01 23:04] vincentcoll commented on #86
@vincentcoll working on hr_employee_benefit_exemption

[2015-10-01 23:16] elemire commented on #86
I'm working on hr_employee_benefit_on_job

[2015-10-02 15:19] mmalorni commented on #86
Il faudrait updater la liste ci-dessus pour le #137 et le #85 qui sont mergés.

[2015-10-02 15:28] max3903 commented on #86
#85 is not merged yet.

[2015-10-14 00:26] pedrobaeza opened #157 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] hr_accrual
- [ ] hr_contract_hourly_rate
- [ ] hr_contract_init
- [ ] hr_contract_multi_jobs
- [ ] hr_contract_reference - By @mikevhe18 - #303
- [ ] hr_contract_state
- [ ] hr_department_sequence - Not needed now (https://github.com/odoo/odoo/blob/9.0/addons/hr/hr.py#L271)
- [ ] hr_emergency_c

[2015-10-14 11:31] ghost commented on #157
@sbidoul @pedrobaeza Could I ask why you put modules out of **unported** for v9 ? This seems a very odd decision. Could you point me the discussion on this matter ?

[2015-10-14 13:48] yvaucher commented on #157
@dufresnedavid This was discussed in mailing list and agreed. `__unported__` directory is a nighmare in term of git history. Thus we only set installable to False.

[2015-10-14 13:58] ghost commented on #157
@yvaucher I agree **unported** is a mess, but the real nightmare is having a directory full of unported modules. I was not in your mailing list loop so I missed the debate. I think the community is making a huge mistake. The option to use filter-branch is cleaner. But what is done is done.

[2015-10-14 14:14] pedrobaeza commented on #157
Well, David, that was a long debate, and my first option indeed was not to leave unported on root, but some arguments like git-filter-branch miss part of the history when a module is renamed, make to select this option.

For your reference, this is the mail thread (started on august): https://odoo-community.org/groups/contributors-15/oca-contributors-24594?mode=thread&date_begin=&date_end=

And yo

[2015-10-17 18:11] saltonmassally opened #169 "Purpose of struct_id on hr.payslip being editable"
I fail to see the reason why  struct_id field on hr.payslip is editable... changing it definitely has no effect on the rules being computed as the structures are pulled directly from the contract.

I think best case would be for the slip to be computed from the struct_id on the slip as this gives the user the flexibility to override the default struct on the contract... if not it should be made re

[2015-10-19 18:06] kossovo opened #171 "[hr_worked_days_from_timesheet] - View inheritance may not use attribute 'string' as a selector."
Just trying to install <b>hr_worked_days_from_timesheet</b> module in Odoo 9.0 version. I got the following error:

Error details:
View inheritance may not use attribute 'string' as a selector.

Error context:
View `hr.payslip.form`
[view_id: 615, xml_id: n/a, model: hr.payslip, parent_id: 363]
None" while parsing /home/clovis/Documents/odoo9/hr-addons/hr_worked_days_from_timesheet/hr_payslip_view

[2015-10-20 12:21] ghost commented on #169
@tarzan0820 the onchange would not work otherwise. The value of the field would not be saved to the database.

[2015-10-20 12:24] ghost commented on #171
@kossovo Just let you know that actually no hr module has been ported to v9. hr_worked_days_from_timesheet is not even ported to v8.

[2015-10-21 21:02] #169 closed, assigned to nobody

[2015-10-27 12:58] ruifranco opened #181 "access rules overlap"
module: hr_skill
version: 8.0

**Steps to reproduce**
- install the module and try to see an employee's form using the "Employee" profile.

**Current behavior**
- the "Employee" has no rights as both the access rules have the same id, so only the Manager's rule remains in the database

"id","name","model_id:id","group_id:id","perm_read","perm_write","perm_create","perm_unlink"
"access_hr_skill","h

[2015-11-03 09:01] JordiBForgeFlow opened #187 "[hr_worked_days_from_timesheet] Compatibility with existing working schedule"
Hello,

I want to use the employee's working schedule as a tool to validate that the employee complete their timesheets in line with their contract schedule.

But I don't want the working schedule to automatically fulfill the payslip. Instead, I want to fulfill the payslip based on the timesheet hours.

I am trying to use module "hr_worked_days_from_timesheet" together with contracts that have an

[2015-11-05 11:51] acysos commented on #171
Hello,

I have this module ported and refactored to v8. I will put a PR today. I expect that the other PR that I have will be merge asap.

Greetings

[2015-11-05 20:12] #84 closed, assigned to nobody

[2015-11-06 09:30] kossovo commented on #171
+1

2015-11-05 12:51 GMT+01:00 Odoo - OpenERP - Acysos S.L. <
notifications@github.com>:

##

_Clovis NZOUENDJOU_
_Développeur Python/Odoo_

http://anybox.fr

[2015-11-06 18:01] acysos commented on #171
Hello,

The PR has done https://github.com/OCA/hr/pull/189

Greetings

[2015-11-12 15:57] newmanx opened #191 "hr_employee_benefit Module Bug when compute benefit button clicked"
There seems to be a bug with hr_employee_benefit module, After adding the benefit categories and rate, when we click on Benefit compute button under payslips, its returning this error:

OpenERP Server Error
Client Traceback (most recent call last):
File "/usr/lib/python2.7/dist-packages/openerp/addons/web/http.py", line 204, in dispatch
response["result"] = method(self, _self.params)
File "/usr/li

[2015-11-12 16:23] ghost commented on #191
@newmanx at line 78 of addons/hr_employee_benefit/models/hr_payslip.py

replace this

for payslip in self.browse(cr, uid, ids, context=context):
    payslip.compute_benefits(payslip)

by this

self.compute_benefits(cr, uid, ids, context=context)

[2015-11-12 17:14] newmanx commented on #191
@dufresnedavid thanks for your reply,

As soon as i changed, openerp crashed with error "No Handlers Found"
I checked the logs and found this:

2015-11-12 17:11:47,074 2433 ERROR ? openerp.service: Failed to load server-wide module `web`.
The `web` module is provided by the addons found in the `openerp-web` project.
Maybe you forgot to add those addons in your addons_path configuration.
Traceback

[2015-11-12 17:56] newmanx commented on #191
I removed the module and restored, ERP is now working, can you pls confirm if settings i have made are correct:
1. I created a new Employee Benefit Category called "Provident Fund"
2. Added salary rule "Employer's PF Contribution" to it
3. Created Benefit Rate called "Provident fund" and added to the "Provident fund" benefit category
4. "Employer's PF Contribution" salary rule has following python

[2015-11-12 21:26] newmanx commented on #191
@dufresnedavid, sorry changes you said was not taking place, i re-checked and found, it was reverting to old, i fixed it and it solved the problem.

Thanks a lot, closing the issue.

[2015-11-12 21:26] #191 closed, assigned to nobody

[2015-11-18 04:18] feketemihai opened #193 "[hr_worked_days_hourly_rate] Module lack of usability"
module: hr_worked_days_hourly_rate
version: 1

**Steps to reproduce**
- Define hourly rates on the contract
- Create a payslip for the employee

**Current behavior**
-The hourly rates set on the contract are not automatically added to the payslip lines,

**Expected behavior**
It should add the date from and date to, with the rate set, probably a new salary structure should be added by default to g

[2015-11-19 07:36] eLBati commented on #32
Hi @moylop260 didn't hr_attendance_analysis do the job?
https://github.com/OCA/hr-timesheet/tree/8.0/hr_attendance_analysis

[2015-11-19 09:06] feketemihai commented on #32
Probably you can use hr_overtime module,
https://github.com/Asmaa-Aly/hr_overtime
that have a report and is computed in payslip, even that the module still needs some adjustments: acces rigths...

[2015-11-19 15:27] newmanx opened #195 "[hr_wage_increment]: Error when "Individual" Wage Adjustment is clicked"
I am running openerp 7.0 latest, installed wage_increment along with its dependencies, but when i click on wage adjustment >> Individual, i get below error:

Client Traceback (most recent call last):
File "/usr/lib/pymodules/python2.7/openerp/addons/web/http.py", line 204, in dispatch
response["result"] = method(self, _self.params)
File "/usr/lib/pymodules/python2.7/openerp/addons/web/controllers/

[2015-11-19 15:29] newmanx commented on #195
I have tried installing hr_employee_legacy_id, hr_employee_id, hr_payroll_extension

still same error, can anyone help me with this bug fix ?

[2015-11-19 15:36] ghost commented on #195
@newmanx you should not use hr_payroll_extension. This module is extremely unstable.

[2015-11-19 15:42] newmanx commented on #195
@dufresnedavid Thanks for letting me know, but issue remains same without the extension too, what could be this bug ?

[2015-11-19 15:52] ghost commented on #195
@newmanx your stack trace does not fit the current version of the module available in OCA. Please take an up to date version.

[2015-11-19 16:09] newmanx commented on #195
@dufresnedavid  You are right, I have now updated with OCA version, and when i run its kind of same error. Do you want me to build a new database and install fresh ?

Client Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/addons/web/http.py", line 204, in dispatch
    response["result"] = method(self, *_self.params)
  File "/usr/lib/python2.7/dist-packages/opene

[2015-11-19 16:14] ghost commented on #195
@newmanx yes, you should start with a new db.

[2015-11-19 16:31] newmanx commented on #195
@dufresnedavid I updated the entire OCA HR files, rebooted the VM, created a new DB, installed all basic packages like employee directory, payroll, then installed wage_increment, went to create a new change in wage increment, before anything, it returns the same error:

OpenERP Server Error
Client Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/addons/web/http.p

[2015-11-19 16:36] newmanx commented on #195
@dufresnedavid  And  this are from the /var/log/openerp/openerp-server.log

2015-11-19 16:35:02,425 961 ERROR finaltest openerp.sql_db: Programming error: operator does not exist: integer = boolean
LINE 1: ...ployee.id FROM "hr_employee" WHERE hr_employee.id IN (false)...
                                                             ^
HINT:  No operator matches the given name and argument type(s).

[2015-11-19 16:49] ghost commented on #195
@newmanx The module will need unit tests. It is unstable. I understand what causes the problem, but it is not trivial to fix. For now, it would take a couple of hours to sanitise the module. I do not have the time for such developpement, at least, not for free.

[2015-11-19 17:03] newmanx commented on #195
@dufresnedavid If you are willing to work on this, let me know how much it will cost?
Can you give me a quote / estimate ?

thanks

[2015-11-19 17:16] ghost commented on #195
@newmanx sure I am willing to work on this. Before making an estimate, I will need more information about you. I need an email address, who you are and the company you work for. You can email those info to me at david.dufresne@savoirfairelinux.

[2015-11-19 17:35] newmanx commented on #195
@dufresnedavid  I have sent you a mail with all the details, its from j**_@r**_*****.info

[2016-02-14 00:52] andhit-r commented on #187
@jbeficent I agree with your proposal. I also need to import timesheet summary into payslip work days. But i am not so sure about removing get_worked_day_lines computations since it may used by salary rules computation. So i suggest to leave it be and add timesheet summary value.

[2016-02-14 00:54] andhit-r commented on #187
This module currently still WIP to migrate to 8.0. After it migrate I will add this feature into this module.

[2016-04-07 16:42] ovnicraft commented on #86
hi i did some changes recenlty to 8.0 at my fork... i will put a PR ASAP

https://github.com/ovnicraft/hr

[2016-04-26 04:48] feketemihai opened #222 "AGPL License Violation???"
https://odoo-community.org/groups/human-resources-19/human-resources-39243?mode=thread&date_begin=&date_end=

[2016-04-26 19:48] pedrobaeza commented on #222
As per answered on the mailing list, I close this.

[2016-04-26 19:48] #222 closed, assigned to nobody

[2016-05-10 12:29] Garamotte opened #223 "Lost return value"
I'm grepping community addons to search for a bug I found in the base module.

There is one occurence of this bug in this repository :
https://github.com/OCA/hr/blob/8.0/hr_employee_firstname/models/hr_employee.py#L39

See my PR on Odoo : https://github.com/odoo/odoo/pull/11985

[2016-05-10 12:56] dreispt commented on #223
That method does not have a `return` statement, so the super return value is irrelevant.
So no bug there.

[2016-05-10 13:07] Garamotte commented on #223
The `_auto_init` method returns the list of stored computed fields to recompute and store in the database :
https://github.com/odoo/odoo/blob/8.0/openerp/models.py#L2706

When the super return value is forgotten, computed fields added in the model will not be computed for existing records during the module update.

[2016-05-10 14:39] dreispt commented on #223
OK. Maybe the issue is deeper: the module should be using an init hook instead of extending `_auto_init`.

[2016-05-10 14:57] Garamotte commented on #223
I agree, this would be better. There is the `init` method for that.

That method is called if exists on v8/v9, and always exists on master (future v10).
- v8/v9 : https://github.com/odoo/odoo/blob/9.0/openerp/modules/module.py#L296-297
- v10 : https://github.com/odoo/odoo/blob/master/openerp/models.py#L2851-2855

[2016-05-11 06:04] feketemihai opened #224 "List of deprecated modules and removal from 8.0 and 9.0"
Hello @OCA/human-resources-maintainers ,

beside those 2 module already addresed in the issue roadmap of migration to 8.0 #86 i wanted to have your oppinion about other modules that i think should be deprecated and removed from the 8.0 and 9.0 branches and marked in 7.0 desciption as DEPRECATED.

Please review:
- [ ] hr_accrual - Can be configured from hr_employee_benefit
- [ ] hr_experience_analy

[2016-05-11 13:03] ghost commented on #224
:+1: I agree with the list.

I think also hr_simplify should be deprecated and removed.

[2016-05-11 13:28] andhit-r commented on #224
:+1: @dufresnedavid  i think hr_simplify will be depreceted based on conversation on https://github.com/OCA/hr/pull/97

[2016-05-12 08:11] feketemihai commented on #224
I think hr_payroll_period or hr_period should be as well deprecated, on v 7.0 modules hr_period and hr_payroll_period brings kind of the same thinks, i think we should decide which one should remain..
hr_period is already in PR: #145

[2016-05-12 13:12] ghost commented on #224
@feketemihai we should definitely keep hr_period and remove hr_payroll_period.

hr_payroll_period is dangerous and its original author does not contribute to the repo anymore.

[2016-05-12 14:10] dreispt commented on #224
IMO conclusions here should be updated on the list at #86

[2016-06-06 06:21] feketemihai commented on #224
@OCA/human-resources-maintainers
Can i have your opinion on hr_worked_days_activity module, from my point the module is useless, just add a field on the payslip lines, but since the field added is many2one, i don't see the point, since the payslip is computed on total attendance days, holidays days,  timesheet lines in https://github.com/OCA/hr/tree/8.0/hr_worked_days_from_timesheet.
Plus, it just

[2016-06-06 12:47] ghost commented on #224
@feketemihai drop hr_worked_days_activity

[2016-06-24 03:18] feketemihai opened #238 "Recreate v9 branch from v8"
@OCA/human-resources-maintainers

@dreispt I was talking about the recreation of v9 branch from v8 branch, when v9 branch was created only 22 modules were migrated to v8, since then there has been a lot of modules ported to v8, which were done in the new api, and little bug fixed done in v8, removal of modules dependant of Aeroo, plus translations from Transifex. Since all this has been done in v8

[2016-06-24 11:00] dreispt commented on #238
I see. Given that v9 has no ported modules yet, that makes sense.
The `installable` flag might need some work, but other than that git should be enough to take care of this. A single PR would be fine for me.

[2016-06-24 11:31] feketemihai commented on #238
@dreispt Ok...i will do it on monday morning. Thanks.

[2016-06-24 13:22] pedrobaeza commented on #238
Use https://github.com/OCA/maintainer-tools/blob/master/tools/migrate_branch.py for that or I can do it if you prefer.

[2016-06-24 14:13] feketemihai commented on #238
@pedrobaeza I didn't use it before...so if you can do it i'll prefer that and i will do the pr on monday...not in the office untill then. Thanks.

[2016-06-24 14:16] feketemihai commented on #238
Sorry...i just saw that already sets instalable to False...no need for extra pr...

[2016-07-19 08:24] RichDijk opened #245 "ensure_one() error op benefit_rate"
We have installed this module but do get an error after applying a benefit rule when opening a contract or opening employee benefit rates.

error:

What is the best way to fix this?

[2016-07-19 12:44] ghost commented on #245
@RichDijk what version of Odoo are you using

[2016-07-19 12:52] RichDijk commented on #245
@dufresnedavid  , we use Odoo 8

We have already tried the following fix which looks ok after small tests:

[code]

[2016-08-08 10:08] RichDijk commented on #245
Fix works properly.

[2016-08-08 10:08] #245 closed, assigned to nobody

[2016-08-16 08:37] #238 closed, assigned to nobody

[2016-09-27 08:19] intero-chz opened #255 "[8.0,9.0] hr_recruitment_partner doesn't work with fetchmail creating"
Hi,

after installing hr_recruitment_partner you can't use fetchmail server to create `hr.applicant` anymore, because Odoo tries to create an empty partner, which won't work (name -> NULL).

So either the module should create a partner on its own in `hr.applicant` message_new() or the module should state, that it isn't possible to use the feature while installed.

Best Regards

[2016-09-27 16:46] intero-chz commented on #255
@dreispt I'm pinging you, because i don't know who is responsible for the `hr` repo.

I would create a pull request, but the question is: what solution should be chosen. I've mentioned two solutions, but maybe there are some interesting other ones?

[2016-09-29 12:23] johnsh opened #256 "The webcam module works for Odoo 9 ?"
Hi,

The webcam module works for Odoo 9 ?

Thanks

[2016-09-29 21:14] dreispt commented on #255
I see, the module makes the `parter_name` field mandatory.
IMO the sensitive thing to do is to add a default value to `partner_name`.
Since the Application title, `name` is mandatory, I would suggest for `partner_name`to use it's value as a default.
Do you think you can make a PR for this?

[2016-09-30 07:23] intero-chz commented on #255
`partner_name` is already set by the origin `message_new` (by email from value). Are default values working for related fields at all?

[2016-09-30 09:11] dreispt commented on #255
You're not using any default values then.
`partner_name` is a related field, and it gets it's value written on the Partner `name`.
It doesn't make sense that you get an error.
Can you give a link to the `message_new()` code you refer to?

[2016-09-30 10:00] intero-chz commented on #255
https://github.com/odoo/odoo/blob/8.0/addons/hr_recruitment/hr_recruitment.py#L386

[2016-09-30 12:21] dreispt commented on #255
AFAICS the `message_new`is writing both on `name` and `partner_name`.
You shouldn't have any error then. 😕
Do you have a traceback of the error you can share?

[2016-09-30 13:36] dreispt commented on #256
To check that, see the README for the corresponding branch: https://github.com/OCA/hr/blob/9.0/README.md

It seems that it has not been ported from 8.0 yet .

[2016-09-30 13:36] #256 closed, assigned to nobody

[2016-10-01 11:23] yboujraf opened #257 "HR_EXPENSE_INVOICE - error when try to "generate Accounting Entries""
**Odoo Version : 8
Module : HR_EXPENSE_INVOICE
ERROR MESSAGE : "Cannot reconcile supplier invoice payable with generated line. Please check amounts and see if the invoice is already added or paid. Invoice: False"**

For some expenses where I am trying to link with an invoice, we have this error message.
We have verified if the amout of the invoice is the same as the expense and it is.

**Question

[2016-10-01 21:36] pedrobaeza commented on #257
The message is for a line where there's no invoice, so this doesn't seems to be with the module itself.

[2016-10-02 09:58] yboujraf commented on #257
Dear,

What I suspect is when I selecting an invoice, the reference assigned by the expense module is wrong.

![image](https://cloud.githubusercontent.com/assets/6151258/19019889/413da100-8897-11e6-8eff-ea886b5dac61.png)

We have the REFERENCE : EXJ/2015/0087

When assigned in the expense, we have 👍

![image](https://cloud.githubusercontent.com/assets/6151258/19019892/58fa1044-8897-11e6-919f-58841

[2016-10-06 12:52] pedrobaeza opened #259 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] hr_contract_default_trial_length
- [ ] hr_contract_hourly_rate
- [ ] hr_contract_init
- [ ] hr_contract_multi_jobs
- [x] hr_contract_reference - By @leemannd - #316
- [ ] hr_contract_state
- [ ] hr_department_sequence
- [x] hr_emergency_contact - By @leemannd - #314
- [x] hr_employee_age - By

[2016-10-10 06:10] yelizariev commented on #259
@pedrobaeza you can add #261 to hr_public_holidays too

[2016-10-10 07:03] pedrobaeza commented on #259
Please only 1 module per PR.

[2016-10-10 08:11] yelizariev commented on #259
`hr_holidays_compute_days` depends on `hr_public_holidays`. It means that people has to wait for merging `hr_public_holidays` before being able to review `hr_holidays_compute_days`. Also, `hr_public_holidays` has very few changes

[2016-10-10 08:15] pedrobaeza commented on #259
No, no need to wait. You make 2 PRs: one with `hr_public_holidays`, and another containing the previous commits + the module `hr_holidays_compute_days`, and mark as dependent. When the first one is merged, you only need to rebase. This is for making easier to merge PRs. If you include 2 modules, it will be more difficult to review, and less chances to be merged.

[2016-10-10 08:27] yelizariev commented on #259
I mean, that runbot and travis will not work, if hr_public_holidays is not installable.

[2016-10-10 08:34] pedrobaeza commented on #259
It will work. Second PR must include all the commits from the first one (the migration of `hr_public_holidays`), plus the commit/s for migrating the module `hr_holidays_compute_days`. This way, you can review the first PR, as well as reviewing code from specific commits in the second PR, or reviewing functionally the second one. If the first one gets merged, you rebase the second one and you have

[2016-10-10 08:44] yelizariev commented on #259
Got it. Thank you for explanantion

Unfortunately, I already have commits, that make updates on both modules. I will separate it later if needed. I will definitely use this approach on next PRs

[2016-10-10 08:46] pedrobaeza commented on #259
OK, let's continue this time having both in one PR, but please take note for future times.

[2016-10-13 12:28] yelizariev opened #265 "[8.0] hr_holidays_legal_leave"
This commit
41c3beb178c47461be117ed43a34af6dcb9298f0
has to be fixed, because computed field can be called with multiple records https://github.com/OCA/hr/pull/262#issuecomment-253496780

patch for 10.0: https://github.com/OCA/hr/pull/262/commits/a75cdc8c252e5ced6fafc2bc1fa61e352debdb26

cc @feketemihai

[2016-10-14 03:22] feketemihai commented on #265
@yelizariev Thanks for found this, i never had problems with it...should we patch the inverse method as well?

[2016-10-14 05:45] pedrobaeza commented on #265
Closing as there's a PR

[2016-10-14 05:45] #265 closed, assigned to feketemihai

[2016-10-14 05:47] yelizariev commented on #265
@feketemihai Not sure about reverse method. Probably, it's needed if someone will import employees table with new remaining leaves value

[2016-10-14 05:48] yelizariev commented on #265
We face this issue, when click on some employees in dashboard

[2016-10-19 13:09] gurneyalex commented on #157
I'm starting to work on some v9 migrations (yeah I know it's a bit late, but the customer has the final word on this)...

[2016-10-19 13:12] pedrobaeza commented on #157
Please assign yourself in the issue to avoid effort duplications

[2016-10-26 11:49] damdam-s commented on #157
@pedrobaeza  `hr_holidays_compute_days`  is now on #270

[2016-10-28 09:36] astirpe commented on #259
Porting hr_employee_id: #272

[2016-10-28 11:15] astirpe opened #273 "travis failure: hr.holidays.status.is_annual depends on itself"
Commit https://github.com/OCA/hr/commit/00f4e3d010f98ad98db630c30a9cc91e8846e4ac seems causing a warning on runbot:
`resolve_deps Field hr.holidays.status.is_annual depends on itself; please fix its decorator @api.depends().
`

@damdam-s @pedrobaeza  could you please give a look at it?

Thank you!

[2016-10-28 11:18] pedrobaeza commented on #273
You're right... in depends section `is_annual` should be removed. Can you please make a PR?

[2016-10-28 11:38] #273 closed, assigned to nobody

[2016-10-31 17:56] dreispt commented on #255
Ping!

[2016-10-31 18:01] dreispt opened #287 "Recruitment Partner data should have security access rules"
The `hr_recruitment_partner` module saves Applicant personal data into Partners.
But this data is available to all users.
Since personal data is protected by data privacy regulations, only selected users should be able to access that information.

I believe we need a "Personal data" flag on Partners, and security rule on it so that only selected users can see it. By default, HR Officers would have

[2016-10-31 18:03] pedrobaeza commented on #287
Better to protect it with a group and a view linked to that group. Only those with that group will be able to see that data, but the rest can see basic information.

[2016-11-01 11:13] intero-chz commented on #255
Pong (sorry, was on vacation):

[2016-11-01 15:17] yboujraf commented on #257
Dear,

Just to inform you we have found the issue.
When we remove the INVOICE REFERENCE from the Invoice from the expense and reconcile the invoice in the journal entries, all work fine.

To fix the issue, is it possible to have more details in the log or some where to identify the issue.

Best Regards,
Youssef

[2016-11-02 16:52] dreispt commented on #287
@pedrobaeza  if I understand correctly, that would be just GUI superficial security.
And the Applicant Partner record would still be selectable in other Many2ones, and IMO that is a problem...

[2016-11-02 17:35] pedrobaeza commented on #287
Uhm, you're right about that GUI security, but I don't see a problem about the many2one selectable thing. I prefer to have that selectable for certain operations (like for example, sending a message), but the problem here is about certain information inside their data.

Can you put groups security at field level?

[2016-11-05 09:33] LeartS opened #292 "Inconsistencies in leave duration calculation between standard Odoo and hr_holidays_compute_days"
* The standard Odoo module [uses the `calendar_id` field of the resource](https://github.com/odoo/odoo/blob/10.0/addons/hr_holidays/models/hr_holidays.py#L283) to check the leave request boundaries and compute the number of days, while the `hr_holidays_compute_days` module uses the `calendar_id` of the employee's contract
* The standard Odoo module can compute the duration as a floating point, e.g

[2016-11-07 04:42] feketemihai commented on #292
@LeartS I agree with you on this, we already had this in a roadmap, please see https://github.com/OCA/hr/tree/10.0/hr_holidays_legal_leave#known-issues--roadmap, but this should be done with a configuration field, since in a lot of countries, there isn't defined in legislation percentage of holiday days...If we will have a config on company level or holiday status (i don't think that the medical d

[2016-11-07 11:18] LeartS commented on #292
@feketemihai and what about the two different calendars? (employee's calendar vs employee's contract's calendar)

[2016-11-16 19:10] LeartS commented on #292
By the way, I agree that the per-hour or per-day config should be specific per `hr.holidays.status`

[2016-11-25 14:40] dreispt commented on #287
Yes, a similar issue was raised about Employee personal data, and Olivier's fix was to add group security at field level.

[2017-02-22 12:27] leemannd commented on #259
Porting hr_employee_phone_extension: https://github.com/OCA/hr/pull/313

[2017-02-22 12:45] leemannd commented on #259
Porting hr_emergency_contact: https://github.com/OCA/hr/pull/314

[2017-02-22 14:51] leemannd commented on #259
Porting hr_contract_reference: https://github.com/OCA/hr/pull/316

[2017-02-23 13:46] leemannd commented on #259
And a last one for now. Porting hr_employee_seniority: https://github.com/OCA/hr/pull/319

[2017-03-22 10:39] treviser opened #326 "[9.0]hr_security: Module version 8.0 works out of the box for version 9.0"
As I'm not a developer I just wanted to let everybody know.

[2017-06-01 09:33] dreispt opened #343 "Port hr_evaluation from 8.0 to 9.0/10.0"
Also check https://github.com/OCA/survey/pull/19 for an interesting extension.

[2017-06-03 11:37] jcdrubay commented on #343
Here was that enterprise converted module: https://github.com/odoo/odoo/tree/8.0/addons/hr_evaluation

Also, should we work with standard backend views instead of the Survey module so it is easier to maintain? Also, it might be less in competition with Odoo SA; we would provide an alternative with a different design.

[2017-06-03 18:08] dreispt commented on #343
In my experience the evaluations form varies a lot.
IMO surverys are a good solution for that.

[2017-06-03 23:13] jcdrubay commented on #343
How about something like https://github.com/OCA/manufacture/tree/8.0/quality_control

We can define evaluation templates(Project Manager, Sales, ....). Then you can define a list of question for each template.

Each template can have a date of validity.

[2017-06-04 00:23] elicoidal commented on #343
I am not in favor of reinventing the wheel either: survey is flexible and complete enough to fit the purpose.
Another model will become unmaintainable in the future

[2017-06-04 00:40] jcdrubay commented on #343
I guess I am just scarred of survey because it already contains a lot of logic and a custom (website) view layer. Also, I have not yet had the chance to use it for a customer project so I could never dig deep into it nor feel the need to do so.
But if you master or want to master the survey module, I also agree that we should go with it.

[2017-06-04 08:06] dreispt commented on #343
Module extracted from Odoo with #344
Migration PR should follow.

[2017-06-04 20:05] dreispt commented on #343
Migration work is on #345
It should try to keep the same features.
Evolution and other changes should be left to later PRs.

[2017-07-13 21:48] Burtonsnow82 opened #349 "Error in legal leave module Odoo 10"
Hi,
When I try to set Legal Annual check box, I receive this error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 640, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 677, in dispatch
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 333, in _call_function
  File "C:\Program Files (x8

[2017-07-18 11:07] #349 closed, assigned to nobody

[2017-07-21 16:47] sertrah opened #353 "public holidays doesnt work"
i'm currently used this module for generate the holidays in my country, but doesnt work becouse the calculate its wrong, must be 3 days and no 4 days if i have activate the public holiday.
i tried removing work schedules to see if that was the problem But no change was seen
![image](https://user-images.githubusercontent.com/20744476/28473335-bd54fbfa-6e09-11e7-8a54-ba720561160d.png)
and this how i

[2017-08-09 04:16] tnawut commented on #131
I interested too.

[2017-08-09 07:46] JanisJanis opened #360 "public holidays year"
v10.0

Module:
hr_public_holidays

Any new public holidays.

Current view:
![image](https://user-images.githubusercontent.com/7612247/29110553-a992d76e-7cef-11e7-8a86-1a99f5db3fb7.png)

Expected behavior:
Year format without spaces and comma:
2017

[2017-08-23 09:43] tonyjona opened #363 "need guide to intall this module"
Sorry, I am  a very new oddo user, need guide to intall this module onto odoo10, thanks!

[2017-08-23 09:47] pedrobaeza commented on #363
Sorry, but this section is not for user helping, but for reporting issues in the modules themselves. Make your questions on Odoo forums.

[2017-08-23 09:47] #363 closed, assigned to nobody

[2017-08-23 18:05] dantrix commented on #363
Hi tony,
Sendme maill todo dantrix2006@gmail.com
For help!

El 23/08/2017 04:43, "tonyjona" <notifications@github.com> escribió:

[2017-08-31 07:41] aitorbouzas opened #364 "[8.0] hr_webcam not working"
When I try to get a picture for an employee it won't detect any webcam. **It only happens with chrome.** I tried the webcam at other sites like onlinemictest.com and it works perfectly...

I tried this with an Odoo 8 and Chrome 60.0.

[2017-10-02 16:12] damdam-s commented on #259
#370 migration to v10 of `hr_holidays_validity_date`

[2017-10-03 14:12] pedrobaeza opened #374 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] hr_attendance_autoclose - By @jarroyomorales - #591
- [x] hr_attendance_reason - By @jarroyomorales - #587
- [x] hr_attendance_rfid - By @hveficent - #469
- [x] hr_attendance_report_theoretical_time - By @jarroyomorales - #559
- [ ] hr_contract_default_trial_length - By @jarroyomorales - #64

[2017-10-04 08:46] novawish commented on #374
# Modules migrated
* hr_skill
# Migration WIP
* hr_employee_benefit

[2017-10-09 14:42] leemannd commented on #259
@pedrobaeza As we get few (no) answer from the author of https://github.com/OCA/hr/pull/300 and he is having trouble rebasing his work, can we superseed with https://github.com/OCA/hr/pull/378 ?
I have cherry-picked his actual work and I'm going to test it before the end of the week.

[2017-10-10 11:29] pedrobaeza commented on #259
@leemannd Done

[2017-10-10 14:55] pedrobaeza commented on #374
@novawish are you going to propose that modules?

[2017-10-11 03:36] hieulucky111 commented on #374
**Module Migrated:**
https://github.com/OCA/hr/pull/376
hr_holidays_compute_days (depends on hr_public_holidays)
hr_public_holidays

[2017-10-11 04:26] novawish commented on #374
@pedrobaeza Yes, I've finished the migration of modules:

- `hr_salary_rule_reference`: [#384](https://github.com/OCA/hr/pull/384/files)
- `hr_employee_benefit` (depends on `hr_salary_rule_reference`): [#385](https://github.com/OCA/hr/pull/385)

[2017-10-21 23:02] pedrobaeza commented on #343
Closing this issue as there's a PR now.

[2017-10-21 23:02] #343 closed, assigned to nobody

[2017-10-21 23:03] pedrobaeza commented on #353
The module itself doesn't do that part. See https://github.com/OCA/hr/tree/10.0/hr_holidays_compute_days

[2017-10-21 23:03] #353 closed, assigned to nobody

[2017-10-21 23:04] pedrobaeza commented on #326
Thanks for the info, but we need a PR that switches version number and update manifest file. I write it on the migration issue that is the proper place for this and close the issue.

[2017-10-21 23:04] #326 closed, assigned to nobody

[2017-10-27 13:33] Smined commented on #360
Am trying to change the same but not able to , please help.

[2017-10-30 17:35] allaneramirez opened #395 "hr_expense_invoice error to install: TypeError: Model 'hr.expense.expense' does not exist in registry."
Traceback (most recent call last):
  File "/odoodeca/odoodeca-server/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoodeca/odoodeca-server/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/odoodeca/odoodeca-server/odoo/http.py", line 333, in _call_function
    return checked_call(

[2017-10-30 17:44] pedrobaeza commented on #395
That's what happens when you change the installable = False to force a non migrated module to be in the module list. The migration is here: https://github.com/OCA/hr/pull/367

[2017-10-30 17:44] #395 closed, assigned to nobody

[2017-10-30 18:04] itautomationo commented on #395
Thank you !!!

[2017-11-09 08:36] #171 closed, assigned to nobody

[2017-11-09 08:39] #257 closed, assigned to nobody

[2017-11-10 07:03] feketemihai opened #397 "Migrating modules starting from 9"
Hello all,

since there were some improvements to Odoo base code regarding HR, Holidays, Expenses modules, before migration the modules from version 8.0,(even if it's to 9.0,10.0,11.0), we should check was is changed in the base code, not to duplicate working methods.

I suggest that we consolidate modules that only add one field, into a more generic one, to be able to maintain the repository more

[2017-11-10 07:04] feketemihai commented on #397
@OCA/human-resources-maintainers

[2017-11-10 08:00] feketemihai opened #398 "List of deprecated modules on 9.0"
Hello all,

Following #397 , i suggest a list of modules that should be not ported anymore.

Can you review, please and we should make PR's so the modules to not appear anymore in future branches.

Please review:
- [ ] [hr_department_sequence] - https://github.com/odoo/odoo/blob/9.0/addons/hr/hr.py#L271
- [ ] [hr_employee_legacy_id] - One field module, to be included in hr_employee_id
- [ ] [hr_ex

[2017-11-10 08:00] feketemihai opened #399 "List of deprecated modules on 10.0"
Hello all,

Following #397 , i suggest a list of modules that should be not ported from 9.0, alongside with #398.

Can you review, please and we should make PR's so the modules to not appear anymore in future branches.

Please review:
- [ ] [hr_expense_move_date] Field accounting_date present in hr.expense.sheet can overwrite the date of the expense when posting the move (https://github.com/odoo/o

[2017-11-10 08:21] feketemihai opened #400 "List of deprecated modules on 11.0"
Hello all,

Following #397 , i suggest a list of modules that should be not ported from 9.0, alongside with #398 and #399

Can you review, please and we should make PR's so the modules to not appear anymore in future branches.

Please review:

[2017-11-10 08:58] pedrobaeza commented on #400
That's not the case, as 11.0 branch is now empty. Just comment on the migration issue for removing from the list, but don't open another issue.

[2017-11-10 08:58] #400 closed, assigned to nobody

[2017-11-10 08:59] feketemihai commented on #400
i agree, but since 10.0 is already populated, i don't know if everybody will follow https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0, that's why i made an issue on 11 as well.

[2017-11-10 09:03] pedrobaeza commented on #400
The procedure is the same for all: comment on the issue and (for <= v11), make a PR removing the modules. If someone doesn't follow the guide (which is referenced on each issue), then a reviewer can remind him/her about that.

[2017-11-10 09:07] pedrobaeza commented on #399
The same: just comment better on the migration issue. I pass your comments now to that issue. Better to not split things across multiple issues.

[2017-11-10 09:07] #399 closed, assigned to nobody

[2017-11-10 09:10] pedrobaeza commented on #398
Please make PRs removing obsolete modules.

[2017-11-10 09:10] #398 closed, assigned to nobody

[2017-11-10 10:56] dreispt commented on #397
Yes, absolutely.

We already have https://github.com/OCA/hr/issues/157 for that, I suggest to use it.
I see you are a member on the HR Maintainers. so you can edit the Issue's text there to update the plan.

[2017-11-14 07:52] feketemihai opened #404 "Holiday Status company_id field duplicate in view"
Starting from https://github.com/OCA/hr/commit/affeef18eaa6eb94b25d8f882d262e9cef9be1fc in the form view of holiday status, the field company_id is duplicated, the field is available in odoo base form view, if you set multicompany acces rigths, and module hr_holidays_legal_leave, duplicates it in the same view. i will create a new pr to remove the field from the view.

[2017-11-14 08:09] feketemihai commented on #404
#405

[2017-11-14 09:35] feketemihai opened #407 "[hr_holidays_settings] Module brake leaves configuration"
The menu Leaves -> Configuration from Odoo has a direct action to open Leave Status

The module hr_holidays_settings add a submenu to the Leaves -> Configuration, so you cannot open the Leave Status directly.

There is a need to add another parent menu to Leaves -> Configuration, so we can open the Leave Statuses (directly addreses to Odoo code), or to be added here in this module and to update th

[2017-11-14 12:54] #404 closed, assigned to nobody

[2017-11-14 12:54] #407 closed, assigned to nobody

[2017-12-06 10:51] Martronic-SA commented on #360
Hi,
You can add `widget="text"` to your view definition:
`<field name="year" widget="text"/>`

[2018-01-09 11:58] astirpe commented on #374
hr_holidays_imposed_days #424

[2018-01-22 14:25] yung-wang opened #426 "Do we need hr_holidays_notify_employee_manager (can be done with automated actions)"
Dear OCA,

I wonder if we really need this module:
[https://github.com/OCA/hr/tree/10.0/hr_holidays_notify_employee_manager](https://github.com/OCA/hr/tree/10.0/hr_holidays_notify_employee_manager)

Since you can do the same with an automated action + email template.

[2018-01-22 14:26] yung-wang commented on #374
Please look at this issue:
[https://github.com/OCA/hr/issues/426](https://github.com/OCA/hr/issues/426)

Do we really need to migrate this module?
[https://github.com/OCA/hr/tree/10.0/hr_holidays_notify_employee_manager](https://github.com/OCA/hr/tree/10.0/hr_holidays_notify_employee_manager)

[2018-01-23 06:03] feketemihai commented on #426
@yung-wang I tend to leave it as a module, since not all users are technical enough to do this, so it will help...

[2018-01-23 15:03] yung-wang commented on #426
ok.

[2018-01-23 15:03] #426 closed, assigned to nobody

[2018-02-25 13:00] #360 closed, assigned to nobody

[2018-03-29 12:52] #18 closed, assigned to nobody

[2018-03-29 12:52] #32 closed, assigned to nobody

[2018-03-29 12:52] #292 closed, assigned to nobody

[2018-03-29 12:53] #364 closed, assigned to nobody

[2018-03-29 12:53] #255 closed, assigned to nobody

[2018-03-29 12:54] #131 closed, assigned to nobody

[2018-03-29 12:54] #195 closed, assigned to nobody

[2018-03-29 12:54] #86 closed, assigned to nobody

[2018-03-29 12:54] #62 closed, assigned to gurneyalex

[2018-03-29 12:55] #126 closed, assigned to nobody

[2018-03-29 12:55] #181 closed, assigned to nobody

[2018-03-29 12:55] #187 closed, assigned to nobody

[2018-03-29 12:56] #193 closed, assigned to nobody

[2018-03-29 12:56] #223 closed, assigned to nobody

[2018-03-29 12:56] #224 closed, assigned to nobody

[2018-03-29 12:57] #287 closed, assigned to nobody

[2018-04-09 17:11] ddufresne commented on #374
hr_experience https://github.com/OCA/hr/pull/437

[2018-05-16 15:05] pedrobaeza commented on #397
Should we keep this opened?

[2018-05-17 03:10] #397 closed, assigned to nobody

[2018-06-08 05:56] SalahAdDin commented on #374
`hr_webcam` would be great!

[2018-06-27 08:55] nedaszilinskas opened #454 "hr_public_holidays"
### Module(s)
hr_public_holidays [10.0]

Return type is not consistent in method _get_holidays_list(...)_.
If empty it returns list instead of empty recordset (https://github.com/OCA/hr/blob/10.0/hr_public_holidays/models/hr_public_holidays.py#L95) which I assume is expected since we have @api.returns('hr.holidays.public.line').

[2018-06-27 09:01] pedrobaeza commented on #454
@feketemihai you were the author. Can you tell us?

[2018-06-27 11:05] feketemihai commented on #454
@nedaszilinskas @pedrobaeza I really don't remember, it was a fast continuation of another non finished PR...and from 2 years ago...and moule is migrated like this in v9 and v10.

Will check when i have more time, but by default it should be an empty recordset.

[2018-06-27 11:07] nedaszilinskas commented on #454
@pedrobaeza @feketemihai thank you, I just needed confirmation that this is considered an issue. I will make a PR for this fix if you do not mind?

[2018-06-27 11:19] feketemihai commented on #454
@nedaszilinskas It's an issue and it's present starting from v8..

[2018-06-27 11:27] pedrobaeza commented on #454
Please make the PR

[2018-06-27 13:28] pedrobaeza commented on #454
Fixed in #455

[2018-06-27 13:28] #454 closed, assigned to nobody

[2018-09-03 17:35] thomaspaulb opened #473 "[8.0] hr_employee_data_from_work_address: Access error on ir.property when deleting partner"
Some users in a system do not have deletion rights for `ir.property`, and thus deleting a partner fails [here](https://github.com/OCA/hr/blob/8.0/hr_employee_data_from_work_address/models/hr_employee.py#L90).

Still investigating this. @hbrunn any insights? Possible solutions include:

1. Investigating which property fails to be deleted and creating an exception for this
2. Using `sudo` to force-d

[2018-09-04 06:10] hbrunn commented on #473
I think we'll be best off with (3) as deleting properties is a thing for user managers: https://github.com/OCA/OCB/blob/8.0/openerp/addons/base/security/ir.model.access.csv#L28-L29

Let's do it the python way and catch an access exception when deleting, then deactivate the partner (possibly log a note?) and if that throws too, log a warning in the log

[2018-09-27 00:07] OCA-git-bot opened #479 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] hr_attendance_autoclose - By @kittiu - #611
- [x] hr_attendance_modification_tracking - By @Saran440 - #632
- [x] hr_attendance_reason - By @jarroyomorales - #605
- [x] hr_attendance_rfid - By @hveficent - #490
- [x] hr_attendance_report_theoretical_time - By @pedrobaeza - #556
- [x] hr_cont

[2018-10-02 11:50] luistorresm commented on #479
https://github.com/OCA/hr/pull/481 - hr_employee_birth_name

https://github.com/OCA/hr/pull/482 - hr_contract_multi_job

[2018-10-17 14:03] gabrielo77 opened #483 "[8.0][hr_employee_firstname] Field address_home_id has changed to address_id"
If you take a look at this line:

https://github.com/OCA/hr/blob/8.0/hr_employee_firstname/models/hr_employee.py#L57

You can see `mapped()` using the field `address_home_id` on *res.employee* which has been renamed to `address_id` since v8.0. This should be fixed as it raises an error when `_update_partner_firstname()` is called.

[2018-10-17 14:10] gabrielo77 opened #484 "[8.0][hr_employee_firstname] Modifying inherited view using '<label>' does not work"
When I try to install the module the inheritance of view __hr.view_employee_form__ is broken because the plan '<label>' does not work, it has to be changed to an '<xpath>'. See:

https://github.com/OCA/hr/blob/8.0/hr_employee_firstname/views/hr_view.xml#L9

[2018-10-25 18:47] pedrobaeza commented on #479
I think that maybe we can create a new repository OCA/hr-attendance for attendance related things (hr_attendance_rfid, hr_attendance_report_theroretical_time...). What do you think?

[2018-10-25 19:50] alexey-pelykh commented on #479
Not sure where to ask, yet have anyone seen a module for making a contract with employee in different currency than company's default one?

[2018-10-25 21:04] pedrobaeza commented on #479
I don't know any inside OCA

[2018-10-26 09:44] alexey-pelykh commented on #479
Another question to collaborative wisdom: how to deal with https://github.com/odoo/odoo/issues/28186 https://github.com/odoo/odoo/issues/28185 https://github.com/odoo/odoo/issues/28184 ?

[2018-10-26 09:44] pedrobaeza commented on #479
You can put PRs to Odoo for fixing them.

[2018-10-26 09:45] pedrobaeza commented on #479
But take into account that certain things can't be done due to stability policy.

[2018-10-26 09:46] alexey-pelykh commented on #479
Well, taking into account https://github.com/odoo/odoo/pull/28174 I have -1 to 0 chance of success

[2018-10-26 09:49] pedrobaeza commented on #479
Well, fixes as the incorrect conversion from string to datetime will be accepted for sure. Other ones adding or modifying fields, views and so on, won't be accepted except for master (future v13), but you don't have to decline for that. We have been waiting several things for 3 versions until it reaches Odoo, and now we have it on core, which is great. Meanwhile, an OCA module is the alternative f

[2018-10-27 08:51] alexey-pelykh commented on #479
I guess so 👍 meanwhile, I'm struggling to find a module that allows to add attachments to the employee - I never would though that there's no such feature. Any hints?

[2018-10-27 15:00] pedrobaeza commented on #479
@alexey-pelykh you have to put a note with the attachment

[2018-10-28 19:09] alexey-pelykh commented on #479
And here's a thing to add documents to employee #494

[2018-10-30 10:19] gurneyalex opened #498 "hr_holidays_auto_approve: overwrites tracking_disable=True"
If I create a holiday with tracking_disable = True and a holiday type with auto approve false, I expect that no emails are going to be sent. However this line:

https://github.com/OCA/hr/blob/10.0/hr_holidays_leave_auto_approve/models/hr_holidays.py#L21

bypasses the value I put in the context.

[2018-11-01 16:01] #498 closed, assigned to nobody

[2018-11-05 18:58] max3903 opened #503 "[IMP] hr_skill 11.0.2.0.0"
# Employee Skills
- [x] Add a hr.employee.skill object with:
  * a required many2one field "Employee" to hr.employee
  * a required many2one field "Skill" to hr.skill
  * a selection field "Level" with 3 stars: 0 Junior, 1 Intermediate, 2 Senior, 3 Expert
- [x] Add a pivot view and menu item in Reporting

# Employees
- [x] Add a one2many field to hr.employee.skill
- [x] Update the hr.employee view

[2018-11-06 14:05] max3903 commented on #503
Ping @OCA/human-resources-maintainers

[2018-11-12 08:11] gurneyalex commented on #503
Would it not be easier to manage this with stars ?

[2018-11-12 10:30] max3903 commented on #503
@gurneyalex :+1: I made the changes.

[2018-11-16 12:11] mareban opened #512 "hr_public_holidays and holiday names in calendar in Odoo 10"
Is it possible to add the name of the holiday please ??

Thanks

[2018-11-16 12:14] pedrobaeza commented on #512
@ghost you were the one that added this feature. What do you think?

[2018-11-19 09:19] johnbangad opened #514 "ValueError: Field `overview_duration` does not exist"
having this error while trying to access settings

[2018-11-19 14:33] pedrobaeza commented on #514
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile or it's a misconfiguration problem, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not

[2018-11-19 14:33] #514 closed, assigned to nobody

[2018-11-25 15:01] mareban commented on #512
Maybe @ghost disappear :-)   ?

[2018-11-29 07:04] anandkansagra commented on #479
hr_experience:- #517

[2018-11-29 10:18] anandkansagra commented on #479
hr_holidays_settings:- #519

[2018-12-02 01:39] mnaphade opened #520 "hr_employee_id Error"
I have hr_employee_id module installed on 11.0-20181121 CE. Everything seems alright for the privileged users. However, when employees login with their user credentials, they see an error upon clicking "Employees" module in their login.
[code]

If I uninstall hr_employee_id module everything seems to work alright. Any ideas?

[2018-12-02 15:35] pedrobaeza commented on #520
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (https://runbot.odoo-community.org/runbot/116/11.0 - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

I

[2018-12-02 16:42] mnaphade commented on #520
Hello @pedrobaeza
Thank you for replying. There aren't a whole lot of modules installed apart from the basic ones that ship with the installer of v11 CE. Attached is the list of modules that are currently installed on the system.
It appears that the issue is reproducible on runbot too. Here are the steps to reproduce

1. No changes to the default values of hr_employee_id in the admin/admin backend

[2018-12-02 20:48] pedrobaeza commented on #520
@Trivedi-Vacha-SerpentCS, you were the porter of this. Can you please check?

[2018-12-03 01:49] mnaphade commented on #520
A quick update:

I edited the "HR - Employees Kanban" in the views and removed .raw_value from the view. Now the edited view looks something like below:

[code]

With this, I can now at least click on the "Employees" menu from employee login. I can now see the employees however when I click the employee records, I see below error:

Error:
Uncaught TypeError: Cannot read property 'string' of undefi

[2018-12-03 04:59] Trivedi-Vacha-SerpentCS commented on #520
@pedrobaeza Sure

[2018-12-04 13:18] Trivedi-Vacha-SerpentCS commented on #520
Fixed in pr #521

[2018-12-04 19:25] alexey-pelykh commented on #520
In 12.0 it was addressed a bit differently, and it would be great to sync up on approach on fix https://github.com/OCA/hr/blob/12.0/hr_employee_id/views/hr_employee_views.xml

[2018-12-05 10:31] alexey-pelykh commented on #479
~Question: it seems I've seen "hourly wage" for "HR Contract" module... Or was that a daydream?~
https://github.com/OCA/hr/tree/10.0/hr_contract_hourly_rate

[2018-12-11 16:01] #503 closed, assigned to max3903, osi-scampbell

[2018-12-12 09:01] johnbangad opened #528 "hr_holiday_public V11"
is there a way that the color on holiday will be back because on version 10 we can config from system parameters to highlights the holidays. But in v11 it was removed.

[2018-12-12 09:02] pedrobaeza commented on #528
Can you be more specific?

[2018-12-13 03:53] johnbangad commented on #528
I was reffering to this config from v10

To customize the color to highlight public holidays in calendar views:

navigate to Settings > Technical > System parameters
provide a value to calendar.public_holidays_color key (both hex RGB and valid web color names will do, and invalid color settings would be ignored completely).

then the new version v11, I don't see this.

[2018-12-13 08:30] pedrobaeza commented on #528
That option is not migrated. Feel free to port the PR #477 to v11

[2018-12-13 08:30] #528 closed, assigned to nobody

[2018-12-22 06:10] nikul-serpentcs commented on #479
hr_payroll_cancel --> #533

[2018-12-22 07:35] alexey-pelykh commented on #479
`hr_holidays_public` #534

[2018-12-22 08:12] nikul-serpentcs commented on #479
hr_holidays_notify_employee_manager => #535

[2018-12-28 17:07] emagdalenaC2i commented on #479
Please add to the list hr_period - By @ageficent - #524

[2018-12-28 17:32] emagdalenaC2i commented on #374
@pedrobaeza hr_employee_benefit - By @novawish - #381 has been replaced by #385
You can check in the list hr_expense_invoice - By @cubells - #525 because it is merged
You can check in the list hr_holidays_notify_employee_manager - By @tarteo - #446 because it is merged
ou can check in the list hr_payslip_change_state - By @Beji94 - #504 By @bjeficent - #507 because it is merged
You can check hr_em

[2019-01-06 21:15] emagdalenaC2i commented on #374
@pedrobaeza hr_employee_benefit - By @novawish - #381 has been replaced by #385
You can check hr_employee_firstname - By @feketemihai - #406

The PR number in hr_salary_rule_reference - By @novawish - #381 is wrong. It should be #384

[2019-01-10 15:49] astirpe commented on #479
hr_holidays_leave_auto_approve https://github.com/OCA/hr/pull/539

[2019-01-20 18:29] Nikul-Chaudhary commented on #479
@OCA-git-bot hr_contract_reference #541

[2019-01-20 18:51] Nikul-Chaudhary commented on #479
@OCA-git-bot hr_job_category #542

[2019-02-20 14:02] jgrandguillaume opened #558 "Perfs issue with hr_attendance_report_theoretical_time"
Hi,

Using hr_attendance_report_theoretical_time on v12 with 130 employees and ~160 attendances "only" the table takes around 2 minutes to display when I open "Theoretical vs Attended Time Analysis" with HR manager access right . I only display current year, meaning 2 months..

I'm worried that this reports won't handle a real use cases here..

Regards

Joël

[2019-02-20 15:40] shartenfels commented on #558
Hi @jgrandguillaume,
just a comment from my side based on today's testing with "real" data on the INT.

1. If the user has just "manual attendance" as access right, the report is quite fast and prefiltered to "my attendance"
2. Performance starts to get down as soon as you are a "officer" on the attendance. Therefore I agreed your proposal to have an initial filter based on "My attendance"
2. I wo

[2019-02-20 15:54] pedrobaeza commented on #558
The problem is not having 160 attendances, but the contrary: not having a lot of missing attendances, as in that case, the theoretical hours should be computed on the fly. On this case, you have about 40 working days, but only attendances for basically 1 day, so 39 * 130 * 4 (this is due to the subtotal and total cells) = 20280 computations should be done on the fly, which is the reason why 2 minu

[2019-02-20 16:31] jgrandguillaume commented on #558
Hi,

Thanks for the quick answer @pedrobaeza ! Let's leave this as it is and see when we do have more data then. Can I suggest to implement this default filter for all users:

    My attendances
    Current year

That would ease the performance issue and be also more convenient for most of the use cases -> you want to check your own attendances most of the time. And the yearly picture is also requ

[2019-02-21 11:14] pedrobaeza commented on #558
Hi, @jgrandguillaume, about the default filters:

- My attendances: this is not applied because all normal attendance users have this filter by record rules. Attendance officers and managers are the only one that are not limited by the record rule, seeing all, but this is the normal behavior IMO. If they don't want that, they can put as default favorite the filter "My attendances".
- Current year:

[2019-02-25 19:44] jgrandguillaume commented on #558
I was suggesting this as it seems to be the defaut people wants (having 2 month doesn't provide the good sum as it is managed yearly). But OK for me I close the issue.

[2019-02-25 19:44] #558 closed, assigned to nobody

[2019-03-10 07:48] ghost commented on #479
I will help to migrate module `hr_expense_cancel`

[2019-03-10 15:34] pedrobaeza commented on #479
Great, noted in the main comment. Read the migration guide (https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0) and general contributing guidelines (https://github.com/OCA/odoo-community.org/blob/master/website/Contribution/CONTRIBUTING.rst).

[2019-03-11 01:02] ghost commented on #479
`hr_expense_cancel`: [#564](https://github.com/OCA/hr/pull/564)

[2019-03-19 09:13] burhan-vakharia opened #569 "Validation Error in hr_public_holidays module v11"
Odoo Version - v11 Community

1) Create a new Public Holiday.
2) Add a new Public holiday line.
3) Select the date, add name and untick the Date may change Boolean.

Now try to save the Public Holiday, it will give a Validation Error - Screenshot Link - https://prnt.sc/mzviim .

Video URL - https://nimb.ws/BGXD7x

[2019-03-19 09:23] nikul-serpentcs commented on #569
@pedrobaeza @mreficent Can you please check it?

[2019-03-21 13:35] ghost opened #573 "hr_expense_invoice V.11"
When I try to pay the employee's expense this message appears:
![1](https://user-images.githubusercontent.com/25029267/54755258-df739a00-4be5-11e9-98cd-2b2e3b5ba84b.png)
But I have checked the accounting account and it's not reconcilied.
![2](https://user-images.githubusercontent.com/25029267/54755520-60329600-4be6-11e9-8bed-a546f7fb423a.png)
And when I validated the expense this jounal entry was

[2019-03-28 14:54] astirpe commented on #479
hr_employee_firstname #577

[2019-03-29 15:18] glauco70 opened #578 "[11.0] hr_holidays_compute_days error"
There is a problem in hr_holidays_compute_days module, if I check the "Full day" before inserting a date I have this error in _inverse_date_to_full (and in  _inverse_date_from_full also) :
**dt = fields.Datetime.from_string(record.date_to_full).replace(
AttributeError: 'NoneType' object has no attribute 'replace'**

I resolve inserting this if :
_if record.date_to_full:_
before the line indicated

[2019-03-29 15:20] pedrobaeza commented on #578
How do you get that situation? Can you do a PR with the solution?

[2019-03-29 15:26] glauco70 commented on #578
I create a hr.holidays request and I check the "Full Day" check box before inserting the date_from or date_to.

Yes

[2019-04-08 10:13] luismontalba opened #580 "hr_employee_firstname: error when filling only lastname"
When hr_employee_firstname is installed you fill a firstname and a lastname when creating a new employee. Only the lastname is mandatory but if the firstname is not filled an error occurs. This problem has been detected in V11 but it comes from previous versions.

[2019-04-18 08:57] astirpe commented on #580
Fixed by https://github.com/OCA/hr/pull/583 for V11.
The porting to V12 (https://github.com/OCA/hr/pull/577) includes the fix.

[2019-04-23 11:12] kittiu opened #585 "Question about hr_expense_invoice"
Hi, as I am about to migrate hr_expense_invoice to v12. In my opinion I feel the workflow of using this module is not quite smooth (my opinion, can be wrong). So I want to open for discussion, please correct me.

From my understanding, this module is used in case the employee got the supplier tax invoice from vendor, and back to office to reimburse the amount (tax need to goes to the vendor)

AS-I

[2019-04-23 15:48] pedrobaeza commented on #585
This module was created for v8 and there were different flows there, and this has been ported as is during the rest of versions. The question is that there isn't the perfect flow, as invoice auto-creation doesn't fit also when invoices are sent to accounting department later through mail (as requested by the employee), and accountants book them without looking to the expenses, but want to reconcil

[2019-04-24 04:37] kittiu commented on #585
@pedrobaeza thank you for clarifying. I will continue with hr_expense_invoice migration.

But I still think expense to create invoice still make some sense.

Currently, Vendor Bill's sequence is used by both invoice and expense's journal entry, and thus make invoice document have number skipping.

May be expense should act like PO?
After expense approved by manager, then invoice document created (

[2019-04-24 07:23] pedrobaeza commented on #585
You can add the facility to create the vendor bill on the fly.

[2019-04-26 07:33] tbaden commented on #479
hr_holidays_auto_approve https://github.com/OCA/hr/pull/539 and hr_skill https://github.com/OCA/hr/pull/496 merged, but not checked yet.

[2019-05-03 19:35] SSanfilippo commented on #569
Hi, have any feedback about this error? Also I cannot use the module for odoo 11 for same problem of burhan.

Best regards,
Simone

[2019-05-04 04:36] kittiu commented on #573
[code]

Hi, I found that, because this module will create 2 payable line for Expense. 1 payable line will already reconcile with invoice and make invoice paid. 1 payable line is left to be reconciled when doing register payment on expense.

But from Odoo core, it is getting both line (1 reconciled and 1 is not) and try to reconcile with payment entry. So, it shows error.

I see that, to fix it, we

[2019-05-04 04:38] kittiu commented on #573
Without fixing in core Odoo, I think there are 2 ugly way.
1) Do a hook addon, just to fix this
2) Inherit on move's reconcile() method, and pass some context to ignore the reconciled payable.

What is the better way in OCA eye? @pedrobaeza

[2019-05-04 07:06] kittiu commented on #585
@pedrobaeza after playing around more. Since the invoice should not be create from Employee, or even use sudo() to create and validate it make not be good idea. I think the existing feature of hr_expense_invoice also make good sense to have accountant create it first.

Thank you for your opinion. I may close this issue for now until we found better way.

[2019-05-04 07:06] #585 closed, assigned to nobody

[2019-05-04 15:48] moylop260 commented on #569
@SSanfilippo @nikul-serpentcs @burhan-vakharia
Could you check the following fix https://github.com/OCA/hr/pull/590 from @luistorresm, please?

[2019-05-04 20:29] SSanfilippo commented on #569
Hi, I update the module on my enviroment, but I have always the error.

The reference of my error is: [oggetto con referenza: date - date]

[2019-05-04 20:46] luistorresm commented on #569
Hello @SSanfilippo

You have updated the module? In your Odoo instance?

[2019-05-04 21:01] hugho-ad commented on #578
this can be closed

[2019-05-05 07:37] moylop260 commented on #578
fixed from https://github.com/OCA/hr/pull/579

[2019-05-05 07:37] #578 closed, assigned to nobody

[2019-05-05 08:11] SSanfilippo commented on #569
Yes @luistorresm, I had downloaded the source from github, then I extract in my addons folder the hr_public_holidays folder.
I check also if the two modified files are presents, and yes are modified.

[2019-05-05 14:19] luistorresm commented on #569
Maybe is missing make -u hr_public_holidays or in the apps update manually the module, because was changed the view.

Regards

[2019-05-05 15:01] SSanfilippo commented on #569
I make the update manually, better I restart odoo service then as developer mode update all apps.
I use windows version, probably forgot a step?

[2019-05-05 16:45] luistorresm commented on #569
Yes @SSanfilippo

Please open the apps view and search `hr_public_holidays`, open  it and press `Update`

[2019-05-06 18:25] SSanfilippo commented on #569
Hi, good news (and sorry for my forgotten operation).
I update the module in apps and later public holiday work fine.

[2019-05-06 18:40] luistorresm commented on #569
Hello @moylop260 @max3903

Could be closed this ticket?

Regards

[2019-05-06 18:47] #569 closed, assigned to nobody

[2019-05-21 17:49] joir7 opened #599 "hr_attendance_report_theoretical_time install error"
Al intentar desplegar el módulo en un odoo 11 nos encontramos con el siguiente error.

No conseguimos depurar el problema, en principio tenemos todas las dependencias de python al día

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo11/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/

[2019-05-21 20:27] etobella commented on #599
Please, speak in english as most users do not speak spanish.

Which version of Postgres are you using? We had the same issue on travis until we set postgres 9.6

[2019-05-22 16:20] joir7 commented on #599
Excuse the language :)

The current database is 9.2.4. I will try to update to 9.6

[2019-05-24 04:53] rjay1018 opened #601 "Payroll Computation --- Enhancement / New Feature V11"
Do we have this flexibility of computing the payroll base on the rules related to overtime and rest day policies?

![overtime computation](https://user-images.githubusercontent.com/5526244/58303273-fa4ece80-7e21-11e9-96bd-470187c99f87.jpg)

Additional Information: Cola - Cost of Leaving Allowance

[2019-05-24 07:51] pedrobaeza commented on #601
This issue tracker is for issues with current modules in this repository, which payroll is not, and any way, questions like this must be done in other place (forums, mailing lists).

[2019-05-24 07:51] #601 closed, assigned to nobody

[2019-05-24 12:12] yucer opened #602 "missing company filter in init_hook of adjust_employee_partners_pre"
**module**: hr_employee_data_from_work_address
**versions**: >= 8.0

**file**: init_hook.py
**method**: adjust_employee_partners_pre

This [sql query](https://github.com/OCA/hr/blob/646b39dadbc306df3128c13ed6e43e367d1e9620/hr_employee_data_from_work_address/init_hook.py#L35) in the init hooks seems to be missing a filter for the company:

[code]

According to the description it is assigned to a co

[2019-05-24 12:14] pedrobaeza commented on #602
You are not indicating the module nor the version. Please propose the PR if you have the solution clear.

[2019-05-24 12:26] yucer commented on #602
I have update it. Is there an OCA template for Issues ?

[2019-05-24 12:26] pedrobaeza commented on #602
No, just common sense

[2019-05-24 12:58] yucer commented on #602
It did provide the link to the code. There stays the module.

Anyway, that is an interesting point. Some projects like [swagger-codegen](https://github.com/swagger-api/swagger-codegen/issues) provides you a template when you click on "New Issue".

Maybe OCA repos can have some of these.

[2019-05-24 13:22] yucer commented on #602
Note that I am not sure this is an error, this is some kind of informative Issue.
The behavior of the query may be intended.

[2019-05-27 02:56] rjay1018 commented on #601
Thanks

[2019-05-27 03:37] kittiu commented on #479
@pedrobaeza there is 2 addons by @aheficent -- hr_attendance_reason, hr_attendance_autoclose -- which are not listed here. Are there interest to migrate?

[2019-05-27 03:50] kittiu commented on #479
Request to do hr_holidays_compute_days - https://github.com/OCA/hr/pull/603

[2019-05-27 08:29] AaronHForgeFlow commented on #479
I think they are still valid in 12.0. They are not in the list because they were recently merged in 11.0

[2019-05-27 08:38] kittiu commented on #479
OK, can it be listed? :)
I also can help with it. Now, I try to see from OCA apps store, to find module to work on by download count. And the 2 also appear to me.

[2019-05-27 08:42] AaronHForgeFlow commented on #479
I think so. Only @OCA/human-resources-maintainers can do that.

[2019-05-27 10:39] tafaRU commented on #479
@kittiu just added https://github.com/OCA/hr/pull/603 to the list of modules to migrate.

[2019-05-28 16:26] etobella commented on #599
@joir7 Has this been solved?

[2019-05-28 16:55] joir7 commented on #599
Hi, Eric

Forgives that he did not update the ticket.

Yesterday update to version 9.6 of PostgreSQL and as you said the problem has been solved.

Thanks for the help and forgive again

[2019-05-28 16:55] #599 closed, assigned to nobody

[2019-05-29 08:35] neilmitchell-goodson opened #610 "Leaves Auto Approval only working with Leaves Manager group"
module: hr_holidays_leave_auto_approve
version: 12.0

**Steps to reproduce**
- Configure a Leave Type as auto-approve. Create a leave request with that leave type from a user who does not belong to the _Leaves>Manager_ group.

**Current behavior**
The leave request is not automatically approved. Auto approval only seems to work when the requesting user belongs to the _Leaves>Manager_ group.
**Expe

[2019-06-01 17:12] emagdalenaC2i commented on #479
Please check hr_holidays_compute_days- By @kittiu - #603 that is closed because that feature are already included in v12

Please, add to the list hr_employee_seniority - By @jarroyomorales - #606

There is a PR for the migration of hr_attendance_reason - By @jarroyomorales - #605

Please, could you move up hr_job_category - By @Nikul-Chaudhary - #542 in order to keep the alphabethical sorting

Ple

[2019-06-04 15:04] ghost commented on #479
Request to migrate hr_attendance_autoclose https://github.com/OCA/hr/pull/611

[2019-06-10 00:45] gustavovalverde opened #615 "[12.0] hr_expense_invoice: Inherit expense field's values"
When creating an invoice from an expense; all inheritable values should be passed to the invoice, like:
- Product
- Unit Price
- Quantity
- Taxes
- Bill Reference
- Date
- Account

[2019-06-10 01:40] kittiu commented on #615
@gustavovalverde my understand of workflow when using it is module is,
- Employee doing expense will have to hand in paper tax invoice he/she got from vendor to accounting department first.
- Accountant will then create the tax invoice in Odoo and give reference number back to employee.
- Employee will then create expense and select the already created invoice number.

I also don't like the way it

[2019-06-10 09:07] gustavovalverde commented on #615
@kittiu that workflow seems odd as the expense module was created for employees to register the expenses while out of the office, and the workflow is meant to be:

1. The employee register all his expenses with the basic information.
2. His manager selects the expenses that will be approved.
3. All paper tax invoice the employee got from vendor are handed to the accounting department (just the one

[2019-06-10 11:03] kittiu opened #616 "[12.0] hr_expense_sequence"
Hi, I have seen this addon only on V8, since then it is gone.
I want to make it for v12 in OCA, is it ok?

[2019-06-10 11:04] pedrobaeza commented on #616
No problem if you consider it useful. I don't usually number the expenses.

[2019-06-10 11:06] kittiu commented on #616
Yes, we really need it. Thank you!

[2019-06-10 11:10] kittiu commented on #615
@gustavovalverde I understand your concern.
I used to discuss about this here https://github.com/OCA/hr/issues/585, as in V8, I used to create a module that will auto create invoice after confirm expense, then go on with normal invoice/payment process (not exact as you explain, but you got the idea). It is ok, but I can't deny that it is quite a lot of code to do at that time.

In v12, it is also

[2019-06-10 11:14] gustavovalverde commented on #615
I think that the easiest solution is to keep everything as-is (in the meanwhile); and just inheriting those fields when hitting the create and edit button, if there's not an existing invoice which can be selected. This would save all the re-type time to the accountant; and it won't change the actual workflow.

[2019-06-10 11:24] kittiu commented on #615
You mean, when the Expense (hr.expense) is still in draft state, and before the manager approved, right?

[2019-06-10 11:25] gustavovalverde commented on #615
In the meanwhile, yes.

[2019-06-10 11:27] kittiu commented on #615
I am ok, @pedrobaeza any final comment?

[2019-06-11 08:46] kittiu commented on #615
Hi I think it is a non-breaking feature. I already do the PR https://github.com/OCA/hr/pull/618

[2019-06-11 09:22] pedrobaeza commented on #615
Reviewing v12, for me a flow can be:

* An employee submit its expense to the manager via a sheet.
* The manager approves the sheet.
* But before posting journal entries, an accountant / invoicing user can link an invoice to each line.
* If the amount of the invoice is equal to the expense amount, no problem.
* If any difference, then the user can refuse the expense and put a not about the problem

[2019-06-11 09:51] kittiu commented on #615
@pedrobaeza accounting to yours,

I think what is currently lacking hr_expense_invoice are,
1) Ability for accountant to link/create invoice after expense sheet already approved.
  - This can fix by adding invoice_id column as editable in Expense Sheet's Lines
  - With multiple expense lines, given each line is creating/edit a new invoice, I think it is still possible to pass each expense info to

[2019-06-11 10:44] gustavovalverde commented on #615
I do agree with @pedrobaeza workflow.  PR #618 is a step forward for this; I already approved it.

The only thing that I would **add** (in another PR) is an option to create a single invoice from the Expense Sheet with all the expense lines that did not had an invoice related to it.

[2019-06-11 11:35] pedrobaeza commented on #615
Each expense might have a different invoice, so there should be a wizard for selecting lines without invoice for saying which ones you create the invoice for.

[2019-06-11 14:58] fuentes73 opened #619 "[IMP] hr_attendance_rfid: Reader card code"
Hi, I've been testing `hr_attendance_rfid` module with Eficent RAS project and I noticed that:
 * Reading a card with RAS (or any device that uses this [library](https://github.com/mxgxw/MFRC522-python)) the result i's a hex code like `51e69621`
* Reading the same card with a usb reader (at least with ours) the result is a number like `0563537489`

If you have registered the `rfid_card_code` of ea

[2019-06-11 15:01] meigallodixital opened #620 "[IMP] [hr_employee_calendar_planning ] If the calendar does not have dates the hook renames it to ' ... False-False'"
https://github.com/OCA/hr/blob/2ca9293c5a14b1103df171f43c41ef36137225ee/hr_employee_calendar_planning/hooks.py#L33

It should have a neutral name, such as 'Default Working Time' for example ...

[2019-06-11 15:54] kittiu commented on #615
I will open new PR

[2019-06-12 06:08] jarroyomorales commented on #620
The calendar generated is invisible anyways but we can do PR if you need it to have a name to use it somewhere else.

[2019-06-13 09:48] kittiu commented on #615
Finished the PR https://github.com/OCA/hr/pull/622 as discussed.
@pedrobaeza when we change the content in folder readme, will the README.rst gets update automatically by ocabot? Or do we need to delete it first?

[2019-06-19 23:57] rafaelbn opened #626 "[12.0][BUG][hr_skill] Employees cannot access to their information"
This module hr_skill makes that all the employees lose access to their employee form as hr.employee.skill must have Employees/officer permission.

- It should allow to access but hide the Skills tab

![2019-06-20_1-50-02](https://user-images.githubusercontent.com/8736623/59808851-40526180-92fe-11e9-97e7-e2015f71dc8e.png)

Note: because this issue we cannot test some other modules in this repo. Whe

[2019-06-20 04:36] alexey-pelykh commented on #626
@rafaelbn yep, here's the issue:
[code]
How do we want this - skills of the employee to be visible only by HR, by all, or by HR-and-myself?

[2019-06-20 13:49] max3903 commented on #626
@alexey-pelykh I would say by all. There is nothing confidential about this...

[2019-06-25 15:21] jarroyomorales opened #629 "[12.0] Travis failing"
I don't know if there has been a recent odoo change but some tests are failing. They were working fine for me until I updated odoo.

The error is always the same, requesting holidays before the `validity_start` field and the solution is simple, setting it to false on the tests.
For now I have detected it in 'hr_holidays_accrual_advanced` and `hr_holidays_leave_repeated` but it may happen in other

[2019-06-25 16:10] pedrobaeza commented on #629
Don't open issue if you are going to open a PR afterwards.

[2019-06-25 16:10] #629 closed, assigned to nobody

[2019-06-26 11:52] kittiu commented on #573
No one have this problem when using hr_expense_invoice?
I am curious (may be some setting will solve this?)

[2019-06-27 04:57] Saran440 commented on #479
hr_holidays_imposed_days - This module already feature in core odoo12
hr_employee_calendar_planning - This module is migrated to v12. pls update module list

[2019-06-27 11:01] alexey-pelykh commented on #626
@max3903 @rafaelbn please check https://github.com/OCA/hr/pull/633

[2019-06-29 04:04] #616 closed, assigned to nobody

[2019-06-30 13:23] kittiu commented on #479
@Saran440 can you reference the link to your PRs too?

[2019-07-03 09:23] ghost commented on #573
Is it fixed @kittiu ? I see you have done a Merged.

[2019-07-03 10:32] kittiu commented on #573
I change to fix in hr_expense_invoice, because I realize it should be difficult to change in core Odoo.
So, yes, it is fixed. But not in the one merged, we have quite enhancement after that.
https://github.com/OCA/hr/issues/615
https://github.com/OCA/hr/pull/622
So, I choose to fix here,
https://github.com/ecosoft-odoo/hr/blob/12.0-imp-hr_expense_invoice-options_direct_invoice/hr_expense_invoice/m

[2019-07-10 15:01] HviorForgeFlow commented on #619
USB Reader normally have more than one codification allowed. I don't know which USB Reader you have, but on my case I could change codification to 8H REVERSE to fit with hexadecimal readers.

[2019-07-24 09:23] cuongpk opened #646 "[12.0][BUG] hr_holidays_public: error when inputting Date of Leave Request is Public Holiday have existed on the other Leave Request"
![image](https://user-images.githubusercontent.com/23528443/61784854-ad44a400-ae34-11e9-889d-810057bbc970.png)

Please help me to check this issue.
I think we need to call the function check the overlapping date before `_onchange_leave_dates` called.

[2019-07-24 09:24] pedrobaeza commented on #646
Please indicate clear steps to reproduce the problem

[2019-07-24 09:30] cuongpk commented on #646
![image](https://user-images.githubusercontent.com/23528443/61782499-55a43980-ae30-11e9-83b0-edb46aab2143.png)
This is my Public holiday.
![image](https://user-images.githubusercontent.com/23528443/61782516-5b9a1a80-ae30-11e9-9e59-0c2cd7c1d7bd.png)
And I have created a new Leave Request, it's still good this step.
![image](https://user-images.githubusercontent.com/23528443/61784873-ba619300-ae34-1

[2019-07-24 19:28] altoch opened #647 "[11.0] Error Updating hr_holidays_compute_days - 11.0.1.0.0 to 11.0.1.2.0"
When trying to update the module it throws this error, related to open AttributeError: module 'openupgradelib.openupgrade' has no attribute 'delete_records_safely_by_xml_id'

pip3 show openupgradelib
Name: openupgradelib
Version: 2.0.0
Summary: A library with support functions to be called from Odoo migration scripts.
Home-page: https://github.com/OCA/openupgradelib
Author: Odoo Community Associat

[2019-07-24 19:39] pedrobaeza commented on #647
Install openupgradelib from source, not from pypi

[2019-07-24 19:39] #647 closed, assigned to nobody

[2019-07-24 20:05] rafaelbn commented on #626
Thanks @alexey-pelykh . Fixed

[2019-07-24 20:05] #626 closed, assigned to nobody

[2019-07-24 20:29] altoch commented on #647
As always a clear and a good solution. It worked flawlessly.
If any doesn't know how to install from source openupgradelib, here my steps.
Uninstall any old version from openupgradelib installed.

· Clone from git openupgradelib
git clone  https://github.com/OCA/openupgradelib
· If you want to install it inside your virtual environment for odoo, activate it
source bin/activate
· Enter in openupgra

[2019-07-24 21:38] pedrobaeza commented on #647
Or you can do:
[code]

[2019-07-31 12:37] jarroyomorales commented on #646
Well, by looking at the logs you can clearly see that the problem comes from trying to create an interval from an interval that comes from a `resource.calendar.leave` and another one that comes from a public holiday. This didn't happen in 11.0 because intervals were appended using + instead of | , which is redefined by the `Intervals` class.
By changing https://github.com/OCA/hr/blob/12.0/hr_holid

[2019-08-01 12:20] jarroyomorales opened #653 "[11.0] hr_holidays_compute days, fields are True by default"
The new field `compute_full_days` in this module is set as True by default, which can (and I think it is) cause problems to other modules tests since they shouldn't take in account that the computation of days has been changed by this module.

https://github.com/OCA/hr/blob/11.0/hr_holidays_compute_days/models/hr_holidays_status.py#L19

[2019-08-01 12:23] jarroyomorales commented on #653
@pedrobaeza What do you think of this? Should I create a PR?

[2019-08-01 12:26] jarroyomorales commented on #653
And I think it is the same case with the other field, exclude_rest_days`.
A field that changes the result of the number of days computation shouldn't be default True because other modules can't do anything against it

[2019-08-01 14:56] pedrobaeza commented on #653
Well, it shouldn't be too much problem, as you normally do that for the leaves. Any way, you can add code for inhibiting that behavior on the module itself detecting if you are in test mode and not testing the module itself.

[2019-08-01 15:06] jarroyomorales commented on #653
The module itself works fine, the problem is just with the tests. You can always ask if the leave type has the field `compute_full_days` and set it to False but I dont know if thats the best solution since these two modules are independent.

[2019-08-01 15:12] pedrobaeza commented on #653
As said, you can inhibit the behavior when testing other modules:

1. Add `from odoo.tools import config`.
2. On the code that changes the behavior if `compute_full_days`, check if `config['test_enable']` and there's not a specific context key. Then ignore behavior.
3. On `hr_holidays_compute_days` module tests, add that context.

Example of this: https://github.com/OCA/bank-payment/blob/8.0/accou

[2019-08-02 07:46] meigallodixital commented on #646
I made a leave (holiday) from July 12 to 31 and 25 as a holiday and I confirm the calculation fails in theoretical too.

Traceback: https://pastebin.com/aYENSuFq

[2019-08-02 07:56] pedrobaeza commented on #646
@alexey-pelykh can you please check this?

[2019-08-06 12:58] ghost commented on #573
Ok.
Thanks for the info.

[2019-08-13 09:58] binueda opened #657 "Missing excess amount paid from "Register Payment" button"
module: hr_expense_advance_clearing
version: 12.0

**Steps to reproduce**
User have taken an advance of 100$
Expense incurred is 126$
while settlement 100$ is pulled from the advance and payable option prompt with balance 26$, how ever while paying company have paid 200$ as the employee need advance for next trip
- ...

**Current behavior**
Currently when we pay from "Register Payment", it accept

[2019-08-21 14:18] sluger25 opened #659 "Error when install hr_attendance_report_theoretical_time on Odoo 10"
Hi,
An error appears during hr_attendance_report_theoretical_time installation on Odoo 10 Community Edition:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 683, in dispatch
    result = self._call_f

[2019-08-21 14:21] jarroyomorales commented on #659
Is it the same as #599 ?

[2019-08-21 14:29] sluger25 commented on #659
Looks similar. I will try the described solution.
Thans.

[2019-08-21 15:47] #659 closed, assigned to nobody

[2019-08-22 00:54] emagdalenaC2i commented on #479
hr_holidays_imposed_days #660

Ooops @Saran440 are you sure this is included in core?

[2019-08-23 02:27] Saran440 commented on #479
@emagdalenaC2i Yes, This's included in core.
and explain by @jarroyomorales https://github.com/OCA/hr/pull/660#issuecomment-523807319

[2019-08-26 08:33] vmelnych commented on #610
Same here, for the ordinary users the leave request does not get automatically approved.

[2019-08-26 08:48] alexey-pelykh commented on #610
I'd start looking from https://github.com/OCA/hr/blob/572ec5fe76bee967fc8f8de638ccc522f02d5c46/hr_holidays_leave_auto_approve/models/hr_leave.py#L24

[2019-08-26 08:55] vmelnych commented on #610
Thank you, Alexey!
I will solve it by disabling this line, but this could be a good case for having a separate configuration parameter (for example, sick leaves do not have to be approved by anyone - they are just registered automatically).

[2019-08-26 09:30] alexey-pelykh commented on #610
OCA would welcome a PR that enhances the module

[2019-08-26 09:30] jarroyomorales commented on #479
`hr_attendance_modification_tracking`, `hr_attendance_reason` `hr_employee_seniority`and `hr_period` are already merged and `hr_employee_calendar_planning` is already migrated in https://github.com/OCA/hr/pull/608 by me.

[2019-08-26 09:35] vmelnych commented on #610
Would you, please, elaborate what does PR mean here? Public Relations, Project Responsible, Product Responsible or anything else?
I would gladly carry out product coordination.

[2019-08-26 09:36] alexey-pelykh commented on #610
@vmelnych just a pull request :)

[2019-08-26 14:32] vmelnych commented on #610
Being a beginner in Python/Odoo sucks... Wasted a day, can't figure out why it does not work.
None of the requests with leave types marked as "Auto Validate" get approved automatically - requests still wait in the queue for a manager's approval.
I did many different ways by modifying or commenting lines, reinstalling all from scratch - to no avail.

[2019-08-26 15:00] neilmitchell-goodson commented on #610
You're less of a noob than I; Kudos for trying!

[2019-08-26 15:01] jarroyomorales commented on #610
The README on `hr_holidays_leave_auto_approve` says: Get sure that the administrative user belongs at least to the group Leaves/Officer.
The idea behind this module was probably that it is not necessary that HR employees validate leave requests they created. I dont think the idea of the module was to create a leave type that can be validated by everyone, if we want this behaviour we should create

[2019-08-26 15:13] vmelnych commented on #610
I tested it on a standard demo database (v12), where admin user (Mitchell Admin) has the manager rights and demo user (Marc Demo) is subordinated to Mitchell and registers the sick leave. Ideally, the sick leave is automatically processed by the backend, while the manager is only informed about it.

[2019-08-26 16:06] alexey-pelykh commented on #610
@jarroyomorales I suppose usecase of module that aids self-approve if I can do that being HR Officer is not that valuable, while auto-approve by "Odoo Bot" in case leave is configured so for sick leaves is quite a use-case. Though not for all business processes.

[2019-08-27 06:46] jarroyomorales commented on #610
@alexey-pelykh Well, we are talking about two different things, this module just allows the HR officers to skip approving leaves created by them, which is not an amazing feature haha but it doesnt do any harm, I would actually enable this option in all the leave types. If a normal user asks for a leave, the process doesnt change but if a HR employee does it, the leave is auto approved.
The other t

[2019-08-27 07:29] vmelnych commented on #610
@jarroyomorales, Alexey got me right - ideally, the leave is not being "auto-approved BY everyone", but by the Odoo Bot "FOR everyone". Thanks for having thought of this!

[2019-08-27 08:25] jarroyomorales commented on #610
@vmelnych Oh, now I got you! I'm about to create a PR proposing something, tell me what you think.

[2019-08-27 12:22] vmelnych commented on #610
Wow, gents, you've made my day!!! Thanks a lot!

[2019-08-27 14:46] pedrobaeza commented on #479
Updated

[2019-08-28 07:49] jarroyomorales commented on #653
Solved! At least in 11.0, should we also apply this to 12.0? @pedrobaeza

[2019-08-28 07:53] pedrobaeza commented on #653
Yes, please propose PR

[2019-08-28 08:10] jarroyomorales commented on #653
The PR of the migration https://github.com/OCA/hr/pull/603 was closed since this module is already included in odoo 12.0 core so I think we can close this issue.

[2019-08-28 08:10] #653 closed, assigned to nobody

[2019-08-28 11:40] slom44 opened #664 "display multiple contract of each employee"
Hi guys,

first of all I'm not sure if I'm doing this correct or not, but I hope that I can ask in here and you can help me with the answers

let us say that I have 10 employees
7 of them has multiple contracts
2 of them has only one contract
1 of them has no contract

when I fetch all the employees I can only see 10 rows, each employee in single row

but what I need is to list all the employees A

[2019-08-28 12:05] jarroyomorales commented on #664
This isnt implemented yet. If you fetch all employees you see 10 of course and if you fetch contracts you will see a list of the 16 contracts but you will not see that Rami doesnt have a one.
The best solution for your specific problem would be to create a report that iterates through employees and prints their active(didnt expire) contracts or 'no contract' if the employee doesnt have one current

[2019-09-06 02:58] max3903 opened #667 "[ADD] hr_expense_credit_card"
Depends on:
* account_payment_credit_card from https://github.com/OCA/account-payment
* hr_expense

# Background

Odoo Expense App posts all expenses paid by the company in the same journal and account.

# Requirement

In some organizations, managers get a credit card for their expenses and each card needs to have its own separate journal and account for easy reconciliation.

# Configuration

* Go

[2019-09-15 15:44] abdallamhafeez opened #669 "[12.0] hr_expense_advance_clearing: install with database contain data"
Hello
I have issue that appear when install this module "hr_expense_advance_clearing" in database contain data that id of product does not found.

[code]

[2019-09-15 16:25] kittiu commented on #669
What happen id you install this with a newly created database? Does it pose same problem?

[2019-09-15 20:35] abdallamhafeez commented on #669
This issue doesn’t appear

[2019-09-16 14:54] ivantodorovich commented on #646
Following up on the discussion in https://github.com/OCA/hr/pull/534#issuecomment-449573880

If I understand correctly, the idea that hr_holidays_public module will become a manager of `resource.calendar.leaves`, right?

What about making it a manager of `hr.leaves` instead?

There are some beneficts:

**Easier implementation of state/city public holidays**
`hr.leave` model has the `holiday_type`

[2019-09-16 16:21] jarroyomorales commented on #646
Okay, I agree with you that using `hr_leaves` and assigning holidays by location would be a good solution but at this point I think the impact to other modules or people already using it in production would be too big.

I think the only option is to try solving this annoying bug but maintaining the core of the module.

[2019-09-16 17:05] ivantodorovich commented on #646
So the idea is.. target it for 13.0? We'll need migration scripts either way.
Personally I need the project integration I mentioned. It's not related directly with this issue but we can solve both things at the same time.

[2019-09-17 07:33] jarroyomorales commented on #646
Pffff you are right, but at least you are executing the script when you decide to migrate. If we update it now, how can I install this update without losing everything? Because if I don't update I have to live with this bug...
I don't know which is the best solution. :sweat:

[2019-09-17 07:35] pedrobaeza commented on #646
Migration scripts can be done in the middle of a version.

[2019-09-17 07:36] jarroyomorales commented on #646
Oh, I didn't know that. In that case I think we should try @ivantodorovich version. Thank you!

[2019-09-18 10:18] ivantodorovich commented on #646
There's one thing in particular that I dont like: it's the fact that individual leaves would be created from this new 'location' hr.leave when it's validated. That means that if we update or create a new employee after this public holiday leave is validated, the individual leaves won't be updated.

It's an issue that already exists in odoo with 'department' or 'category' leaves, I think. Only in t

[2019-09-19 22:20] johnotoole68 commented on #669
Hi! I ran into the same issue, while installing the module. Did you find a workarround?

This is the error message:

Error:
Odoo Server Error

Traceback (most recent call last):
File "/home/odoo/src/odoo/odoo/api.py", line 1039, in get
value = self._data[key][field][record._ids[0]]
KeyError: 18

During handling of the above exception, another exception occurred:

Traceback (most recent call last):

[2019-09-20 00:37] kittiu commented on #669
Hmmm...could you provide exact step to error? Error seem simple on lacking of external id. But I cant see how this can happen.

[2019-09-20 06:35] adamwojt opened #674 "[11.0] hr_holiday_settings wrong group setup for menu items."
Shouldn't group for menu items be `hr_holidays.group_hr_holidays_manager` as it is in original `hr_holidays` addon. I see this module uses `base.group_system`. Is there reason for that ?

[`hr_holidays_settings`](https://github.com/OCA/hr/blob/719e0da3f0dad074aa7f3435f9184d4f0f2a2769/hr_holidays_settings/views/res_config_settings.xml#L30-L38) vs [ `hr_holidays`](https://github.com/odoo/odoo/blob/8

[2019-09-20 07:35] abdallamhafeez commented on #669
@kittiu You can create a fresh database then add some expenses after that try to install a module

[2019-09-20 07:47] kittiu commented on #669
OK, this make sense now. May be we didn't test with such case yet. Thank you.
CC @kongrattapong

[2019-09-26 11:57] jarroyomorales commented on #374
@pedrobaeza A couple of updates:
hr_contract_default_trial_length by @jarroyomorales in https://github.com/OCA/hr/pull/645
hr_contract_hourly_rate by @jarroyomorales in https://github.com/OCA/hr/pull/604
hr_job_category (already merged) by @i-vyshnevska in https://github.com/OCA/hr/pull/538

[2019-09-29 21:34] OCA-git-bot opened #683 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] hr_attendance_autoclose - ~~By @mondoraemon - #779~~ By @jarroyomorales - https://github.com/OCA/hr-attendance/pull/11
- [x] hr_attendance_geolocation - By @MiquelRForgeFlow - OCA/hr-attendance#6
- [x] hr_attendance_modification_tracking - By @Saran440 - OCA/hr-attendance#3
- [x] hr_attendan

[2019-10-01 07:31] ps-tubtim commented on #683
Working on migration of hr_contract_multi_job https://github.com/OCA/hr/pull/687

[2019-10-01 14:07] espo-tony commented on #683
hr_employee_display_own_info #690

[2019-10-03 08:44] damdam-s commented on #683
hr_holidays_public #691

[2019-10-03 08:54] damdam-s commented on #683
hr_attendance_reason #692

[2019-10-04 08:05] damdam-s commented on #683
hr_employee_id #693

[2019-10-10 10:15] nikul-serpentcs opened #699 "hr_holidays_public not shown in Calendar"
I configure Public Holidays but not shown in the Calendar menu.

Is there any functionality to Show Holidays in the Calendar view?

Ex. I created 1 Public Holidays (01/01/2020 -> New Year Celebration) records, but not shown in Calendar view than some time Team Leader(Or Head) arranged client meeting on public holiday. then two dates conflict.

So, how can we avoid this kind of scenario?

@pedrobae

[2019-10-10 10:18] pedrobaeza commented on #699
See #649

[2019-10-10 10:18] #699 closed, assigned to nobody

[2019-10-16 02:20] kittiu commented on #669
Fixed per #676 would you help review the PR?
cc @johnotoole68 @abdallamhafeez

[2019-10-19 12:34] meodoo commented on #683
hr_holidays_leave_auto_approve #704

[2019-10-19 14:06] ammarofficewla commented on #683
Hello @pedrobaeza ,

Wrong developer name in  a sheet of this module **hr_holidays_leave_auto_approve**

Please change name @Murtaza-Mithaiwala instead of @murtuzasaleh

[2019-10-19 14:07] pedrobaeza commented on #683
Sorry, changed

[2019-10-19 14:49] meodoo commented on #683
hr_holidays_leave_repeated #705

[2019-10-20 05:17] meodoo commented on #683
Hello,
we no need **hr_skill** module in V13, This Functionality is already in base.

[2019-10-20 05:25] meodoo commented on #683
Hello,
**hr_payroll_cancel** module need in v13 ?

[2019-10-20 05:26] pedrobaeza commented on #683
Well, we have to handle the renaming + migration scripts (in OpenUpgrade)

This feature can be integrated in base module in https://github.com/OCA/payroll or add it to that repo

[2019-10-20 06:34] meodoo commented on #683
hr_job_category #707

[2019-10-20 22:11] rafaelbn opened #708 "[BUG][12.0][hr_expense_invoice] Duplicated expenses"
Hello @kittiu @tbaden @gustavovalverde @luistorresm @ps-tubtim ,

This module is incorrect from the Account point of view as it duplicated the expenses, I mean:

- The expense go to a "expense account"
- The invoice go to a "expense account"

If the hr_expense has an invoice related then the account move line shouldn't be duplicated!

![2019-10-21_0-09-05](https://user-images.githubusercontent.com

[2019-10-21 14:29] luistorresm commented on #708
Hello @rafaelbn

Could you send a video where you show the error, please?

You can use [the OCA runbot](https://runbot.odoo-community.org/runbot/repo/github-com-oca-hr-116)

Regards

[2019-10-24 18:33] WhiteTiger08 commented on #479
hr_holidays_imposed_days #713

[2019-10-25 04:00] kittiu commented on #708
Hi, I am testing, but it seem ok. May be about your configuration? Here is what I have,

- EX's journal entry
![image](https://user-images.githubusercontent.com/1973598/67542249-3dd19f80-f716-11e9-915f-ffa465cbe90c.png)

- INV's journal entry
![image](https://user-images.githubusercontent.com/1973598/67542260-475b0780-f716-11e9-88e5-41150de0c1ee.png)

When invoice is confirmed, it will be in statu

[2019-10-26 13:15] TheRealHatCoder commented on #683
Working on hr_employee_relative

[2019-10-28 10:16] rafaelbn commented on #708
Dear @luistorresm @kittiu ,

Thanks for your answers. It's true, I tested in runbot and works like a charm! But not in our self production instance... I will review then internally.

cc @pedrobaeza

[2019-10-28 10:16] #708 closed, assigned to nobody

[2019-10-31 10:40] harlibeub opened #715 "[11.0|12.0] Compatible Hardware RFID Reader"
module: hr_attendance_rfid
version: 11.0, 12.0,...

**Steps to reproduce**
searching for compatible hardware to read rfid cards.

**Current behavior**
in module desc. you mention to existing hardware, which should be able to config. to call needed odoo url to register empl. attendances... but you don't list any hardware examples or recommended hardware which are network driven... or even usb

**Ex

[2019-10-31 11:24] fuentes73 commented on #619
Didn't remember of this issue.
 @hveficent Thank's for the info.

[2019-10-31 11:24] #619 closed, assigned to nobody

[2019-10-31 11:52] HviorForgeFlow commented on #715
@harlibeub
At Eficent, we've developed a hardware solution.
Visit  https://www.eficent.com/product for more information

[2019-10-31 11:56] pedrobaeza commented on #715
Yeah, and nothing to do with the Odoo module itself, that only provides a helper for storing the RFID number and a method for preparing the attendance, so closing.

[2019-10-31 11:56] #715 closed, assigned to nobody

[2019-10-31 12:35] abdallamhafeez opened #716 "[12.0] hr_expense_invoice,hr_expense_advance_clearing: Register Payment appear"
Hello,
I  have case with module `hr_expense_advance_clearing` and `hr_expense_invoice` that if expense is linked to vendor bill and with advance expense, there is button "Register Payment" appear and allow to add payment

[2019-10-31 12:42] kittiu commented on #716
Hi we are aware of that. These 2 module are for different use case and not yet tested together.
But will be soon, as our time allowed.

[2019-11-15 09:16] pegonzalezspesol commented on #683
Work in progress on module "hr_attendance_report_theoretical_time" #726

[2019-11-16 02:21] supakornkim opened #727 "Public holidays not showing in calendar and not exclude from leave"
V12

1. Public holidays not showing in calendar
2. Leave not exclude public holiday
3. Leave show incorrect in calendar ( leave 3 days but highlight 4 days )
![image](https://user-images.githubusercontent.com/19331506/68986485-60a52e80-0852-11ea-8b19-0a894f0d5c74.png)

[2019-11-16 14:21] pedrobaeza commented on #727
1. Not implemented.
2. You need to configuration the leave type.
3. It's due to timezones.

Next time, please only one problem per issue, and give full details.

[2019-11-16 14:21] #727 closed, assigned to nobody

[2019-11-22 16:46] pedrobaeza opened #732 "[RFC] Move hr_attendance_* modules in new OCA/hr-attendance repository"
The title says it all :)

I think we have too much modules here and we can specialize those that takes the attendance area in that repo.

[2019-11-25 11:55] LoisRForgeFlow commented on #732
+1

[2019-11-25 11:55] LoisRForgeFlow commented on #732
maybe starting in 13.0?

[2019-11-25 11:57] pedrobaeza commented on #732
Yeah, that should be something for 13.0 I guess, as now moving this in 12.0 can be confusing for already deployed instances, unless you think it's better to have everything in one place directly.

[2019-11-25 11:58] jarroyomorales commented on #732
+1 to start at 13.0. But then should we do the same for `hr_holidays_*` modules?

[2019-11-25 12:06] pedrobaeza commented on #732
Yes, it makes sense as well.

[2019-11-27 07:17] jarroyomorales commented on #732
Some modules are already getting merged to 13.0, it think we should make a decision on this before more modules are migrated here. @OCA/human-resources-maintainers

[2019-11-27 08:22] pedrobaeza commented on #732
@OCA/board what do you think about this?

[2019-11-27 08:35] alexey-pelykh commented on #732
I'd agree, yet applying same criteria we can move hr_expense_* to new repo as well

[2019-11-27 08:38] JayVora-SerpentCS commented on #732
In my opinion, HR is a big idea. Should definitely put all in one repo.

[2019-12-04 21:42] alx230 opened #740 "For Google docs"

[2019-12-04 22:04] #740 closed, assigned to nobody

[2019-12-05 12:52] pedrobaeza commented on #732
I count 3 in favor vs 1 against. Can we consider this enough quorum for doing it?

[2019-12-06 10:50] astirpe commented on #683
hr_employee_firstname #742

[2019-12-06 14:05] pedrobaeza commented on #732
@astirpe what do you think about this?

[2019-12-06 14:21] astirpe commented on #732
For me it's okay to the three new repos starting from V13.
I'm wondering why @JayVora-SerpentCS and others prefer to keep one single repo. Is there a valid reason for it? Maybe I could change idea if I read some valid motivation.

[2019-12-06 20:52] JayVora-SerpentCS commented on #732
My simple belief is, should move only when there are 10+ modules with each sector.
Otherwise dependencies will be hard.
In any case, developers find a way to get used to OCA decision.

[2019-12-07 00:23] pedrobaeza commented on #732
@JayVora-SerpentCS and do you think it's better to have 41 modules in one repo? Any way, there are already 5 modules for hr_attendance_*, another 5 for hr_expense_*, 10 for hr_holidays_*, and more coming from our sides, so I think they are enough for being separate. And Odoo has also split menus since a lot for these areas.

[2019-12-07 03:47] JayVora-SerpentCS commented on #732
We can split then! numbers justify, thanks.

[2019-12-07 03:59] feketemihai commented on #732
I would split it also, because it will simplify the structure and also people who want only one repo, it will not get another 35-40 modules loaded.

[2019-12-07 14:08] pedrobaeza commented on #732
Repositories created and the only existing module has been moved. Thanks to all.

[2019-12-07 14:08] #732 closed, assigned to nobody

[2019-12-07 14:09] pedrobaeza commented on #683
According #732, all hr_attendance_* , hr_expense_* and hr_holidays_* should be moved to their new specific repositories.

[2019-12-11 12:42] jarroyomorales commented on #646
@ivantodorovich @alexey-pelykh @pedrobaeza What do we do with this?

[2019-12-16 10:47] LeaderMalang commented on #669
I am also facing same problem with existing database.But when i had tried to install this module with newly created database then error doesn't occur.So if anyone have solution then please let me know.

[2019-12-16 11:04] kittiu commented on #669
It is fixed in https://github.com/OCA/hr/pull/746
Is it not?

[2019-12-16 11:22] LeaderMalang commented on #669
Fixed thanks

[2019-12-17 07:43] binooetomo opened #749 "hr_skills"
odoo-13.

Start with empty employees
Create one employee
Create and save :
Type : OS
Name : Centos
Level : Beginner
Progress (%): 20

Newly created skill showed up on employee creation form.
Try to save new employee .... fail
Message 'The skill level Beginner is not valid for skill type: OS '

[2019-12-17 08:46] pedrobaeza commented on #749
That module doesn't belong to this repository.

[2019-12-17 08:46] #749 closed, assigned to nobody

[2019-12-19 09:25] newtratip commented on #683
Working on hr_employee_document

[2019-12-20 09:50] CasVissers-360ERP opened #754 "[12.0] hr_holidays_leave_auto_approve migrate(cr, installed_version)"
When upgrading the module on Odoo.sh:

module hr_holidays_leave_auto_approve: Each post-migration file must have a "migrate(cr, installed_version)" function

@astirpe

[2019-12-20 16:55] newtratip commented on #683
Ready for review https://github.com/OCA/hr/pull/750

[2019-12-21 22:57] SSanfilippo commented on #569
Hi at all,
probably in Odoo 12 there is the same problem.

![image](https://user-images.githubusercontent.com/17512851/71314703-a656a780-244d-11ea-891a-5c04855b7ca5.png)

[2019-12-21 23:05] SSanfilippo opened #755 "Validation Error in hr_public_holidays module v12"
Hi at all,
I think that the module had same issue that was fixed in v11: https://github.com/OCA/hr/issues/569

Odoo Version - v12 Community

1. Create a new Public Holiday.
2. Add a new Public holiday line.
3. Select the date, add name and untick the Date may change Boolean.

On save get error on Date not filled.

[2019-12-23 10:04] #754 closed, assigned to nobody

[2019-12-23 16:24] jarroyomorales commented on #755
At least for me it is not clear what's the purpose of `variable_date` . I thought it was used to indicate if that holiday is on the same day every year or not. (Christmas is always the 25th of December but Easter changes every year for example, at least in Spain).
If the only purpose of that variable is to set the `date` field as readonly I think we can just get rid of it....

[2019-12-23 18:51] SSanfilippo commented on #755
Yes, I confirm that I set a fixed holiday or variable holiday I get always same error.

In Odoo 11 was fixed with a few line of code, I try to reapply the fix (the files are as previous of this fix), but the error remain.

[2019-12-24 07:17] jarroyomorales commented on #755
The function in https://github.com/OCA/hr/blob/11.0/hr_holidays_public/models/hr_holidays_public.py#L196 that was made to solve the error sets the date to False and raises a warning. It sets date to False since it has lost the reference to its previous value, which doesnt make any sense, since at the end you are also changing the date and not solving anything.
We should first figure out the meanin

[2019-12-31 07:40] kensshiro commented on #755
The problem is caused by an attribute in the file hr_holidays_public_view.xml. Set Date as readonly and in the create or write, the field does not take it by having this attribute.
This can be fixed by adding the field to the values ​​variable for saving.
The use of the variable_date field that I would give would be the following:
Add to the wizard the creation of a new Plan, the detection of thos

[2020-01-08 11:40] jarroyomorales commented on #755
@kensshiro I completely agree with you. In fact I already had an implementation of what you say in the last paragraph, I'm going to create a PR and see what people thinks

[2020-01-13 06:39] kensshiro commented on #755
Thanks!! It's good idea!!

[2020-01-14 11:27] astirpe commented on #683
hr_contract_currency #766

[2020-01-14 16:17] tableconnect opened #769 "Public Holidays not exluded from leaves calculation (tested on official runbot)"
Hello,

I was just testing the plugin on the proposed runbot-link which should be 11.0.
(used Employee: Peter Parker)

I´ve created public holidays several times and taken care to check "exclude public holidays" with the selected leave-type.
I´ve also made sure to change the public holidays country to the same country of the employee but that also did not help.

This has been reported before in de

[2020-01-14 16:58] jarroyomorales commented on #769
@tableconnect I have just tested `hr_holidays_public` in a local database and it works as expected. I suspect the issue might be in `hr_holidays_hour`.
The format how integers are displayed depends on the language the user is using. If you change the language to Spanish, for example, it will be displayed as "2.020".

[2020-01-20 03:25] Saran440 commented on #683
hr_employee_phone_extension https://github.com/OCA/hr/pull/771
hr_employee_social_media https://github.com/OCA/hr/pull/774

[2020-01-22 04:53] ps-tubtim opened #776 "[12.0] hr_attendance_geolocation: Can't Check In/Check Out on mobile phone"
I have case with module `hr_attendance_geolocation`.

Case:
1. Install `hr_attendance` without `hr_attendance_geolocation`: I can Check in/Check out on mobile phone.
2. Install `hr_attendance` and `hr_attendance_geolocation`: I can't Check in/Check out on mobile phone.

Note: I test in app chrome, safari.

[2020-01-22 05:33] kittiu commented on #776
Another question: This module is intended for GPS location or IP address location?

[2020-01-22 07:23] CasVissers-360ERP opened #777 "[12.0] hr_holidays_leave_auto_approve activity created"
In previous version the leave was created with context: 'mail_activity_automation_skip' is True. In the last version this was removed resulting in unwanted e-mails to HR managers which get an activity assigned.
@astirpe

I think it should be:
[code]

[2020-01-22 08:07] #777 closed, assigned to nobody

[2020-01-22 10:58] kittiu commented on #683
@mondoraemon is working on hr_attendance_autoclose https://github.com/OCA/hr/pull/779
But it is not in the list above, please add it.
Note: I am coaching.

[2020-01-23 05:27] Saran440 commented on #683
Hello @BIZ4Africa I'm not sure that you working on `hr_employee_relative`
if you work in progress, please let me know.
I will close this PR https://github.com/OCA/hr/pull/775

[2020-01-24 09:46] Slivi-sliv opened #781 "[12.0] Payroll, Global Leaves"
I have a problem:
I've added all the holidays to the Working Times / Global Leaves section.
Let's say:
25.12.2019 is the holiday (Christmas). One of the employees has sick leave from 1.12.2019 to 31.12.2019.
However, when I try to create Payroll for 1.12.2019 to 31.12.2019, I get an error.
However, if I delete the holiday, then everything is fine.
Is there any solution to this?

[2020-01-28 08:46] Saran440 commented on #683
hr_holidays_notify_employee_manager - Already have feature in core used by Schedule Activity
hr_employee_language https://github.com/OCA/hr/pull/784 (change module name from `hr_language`)
hr_employee_service https://github.com/OCA/hr/pull/782

[2020-02-10 11:01] MiquelRForgeFlow commented on #683
~hr_attendance_rfid https://github.com/OCA/hr/pull/785~ I see now it's already in https://github.com/OCA/hr-attendance/tree/13.0/hr_attendance_rfid.

[2020-02-13 12:38] Slivi-sliv commented on #781
I get the following error:

`
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/models.py", line 4721, in ensure_one
    _id, = self._ids
ValueError: too many values to unpack (expected 1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py

[2020-02-13 14:07] alexey-pelykh commented on #781
Please try to reproduce in on a OCA runbot, if that's reproducible there and caused by OCA module, we'll definitely take a look eventually

[2020-02-19 09:35] Saran440 commented on #669
Fixed and merged #746

[2020-02-19 09:35] #669 closed, assigned to nobody

[2020-02-24 14:03] Rakibhossen-cell commented on #610
I love your  (https://computersciencehelf.blogspot.com/). I love your post. It very helpful post. Thanks

[2020-02-24 14:28] vmelnych commented on #610
From what I see, release 13 has incorporated the feature under the Time Off option "Validation : No Validation".

[2020-03-04 07:38] supakornkim opened #796 "[12.0] hr_expense_advance_clearing"
Clear Advance
1. At the step number 2. Search for the Advance you want to clear, or use filter "Advance (not cleared)" to see all uncleared advance.
This step, I cannot see uncleared advance.

2. So, I go create Expense->create report -> and select clear advance, this can select the advance that I created before. But the advance remaining amount is 0.00.

![image](https://user-images.githubusercon

[2020-03-04 08:36] Saran440 commented on #796
2. In Employee Advance, you need process until state = Paid.
3. You cannot see because you clear advance from 2.

[2020-03-04 08:57] supakornkim commented on #796
2. Yes, the status of Employee Advance is already paid
3. I will try again.

[2020-03-04 09:06] Saran440 commented on #796
My step:
1. Create Advance and normal process
![Selection_007](https://user-images.githubusercontent.com/20896369/75862530-b0275e80-5e31-11ea-8224-17cae3b2e423.png)
2. Create normal expense and select Advance. It show advance remaining correct.
![Selection_008](https://user-images.githubusercontent.com/20896369/75862681-e533b100-5e31-11ea-8592-db70f4f83241.png)

[2020-03-04 15:11] astirpe commented on #683
https://github.com/OCA/hr/pull/797 supersedes https://github.com/OCA/hr/pull/693

[2020-03-05 02:39] supakornkim commented on #796
1. Create Advance and normal process
![image](https://user-images.githubusercontent.com/19331506/75942423-e8c44800-5ec4-11ea-86d0-8d705ed35a5c.png)

2. Create Expense clear advance.. amount = 0.
![image](https://user-images.githubusercontent.com/19331506/75942529-2d4fe380-5ec5-11ea-8821-3a2de1a458c9.png)

What have I missed...

[2020-03-05 02:44] supakornkim commented on #796
ok. when coming to status Approved the amount coming up
![image](https://user-images.githubusercontent.com/19331506/75942682-a9e2c200-5ec5-11ea-89ea-2df8e0be6a95.png)

then, I change user to accounting and posting
![image](https://user-images.githubusercontent.com/19331506/75942747-d0a0f880-5ec5-11ea-803c-e985fba8caa3.png)

No button to return Advance

[2020-03-06 03:28] Saran440 commented on #796
@supakornkim
- filter `Advance (not cleared)` you can see at menu My Expense Reports
- Button Clear Advance and Return Advance is at Employee Advance only

[2020-03-25 11:26] MiquelRForgeFlow commented on #683
hr_attendance_geolocation https://github.com/OCA/hr-attendance/pull/6

[2020-03-30 06:20] flachica commented on #683
I migrate hr_experience ~~#807~~ #809

[2020-04-07 15:19] yostashiro opened #815 "[10.0] hr_attendance_report_theoretical_time: employee's timezone is not considered for worked hours"
If an employee in Japan has a rather unusual work shift and works for 05:00-09:00 a.m. on 1 April, the worked hours of 4 hours is counted for 31 April in the Theoretical vs Attended Time Analysis report.

This is because employee's timezone is not considered here:
https://github.com/OCA/hr/blob/ff890924ef62944fda44da2f391dbb7e5a7b3e7a/hr_attendance_report_theoretical_time/reports/hr_attendance_the

[2020-05-09 15:02] gradox2020 commented on #769
@jarroyomorales I have the same problem in Odoo 12

[2020-05-19 11:36] js-landoo opened #836 "[12.0] hr_attendance_modification_tracking easy view time changed attendances"
I propose to add this feature:
Easily view wich attendances have manual time changes.

Use case: The HR manager needs to be able to see in a fast and clear way which of the attendance have had manual changes of any date-time field. Clicking in each record is not useful for someone who reviews and approves each month about 40 attendances per person.

Proposed solution:
Add a computed field to the a

[2020-05-19 14:10] jarroyomorales commented on #836
Very nice and useful! Can you propose a PR and we discuss it there?

[2020-05-20 10:43] busmanapps opened #838 "[10.0-12.0] hr_attendance_report_theoretical_time"
Hi.
We have detected a little issue that affects the editions 10, 11 and 12 with the module "hr_attendance_report_theoretical_time".

[https://github.com/OCA/hr/blob/10.0/hr_attendance_report_theoretical_time/reports/hr_attendance_theoretical_time_report_views.xml](url)

When trying to download the xls file of the pivot view "hr_attendance_theoretical_view_pivot", it throws an exception saying tha

[2020-05-20 10:54] pedrobaeza commented on #838
In English, please. Do the PR changing that.

[2020-05-20 20:42] js-landoo commented on #836
PR#837 proposed
[https://github.com/OCA/hr/pull/837](url)
Thanks @jarroyomorales

[2020-05-20 20:42] #836 closed, assigned to nobody

[2020-05-20 23:07] cvinh commented on #776
@ps-tubtim do you have any error message ?
Are you using the kiosk mode with pin code ?

[2020-06-04 07:03] ps-tubtim commented on #776
@cvinh

Normal mode and kiosk mode don't show error messages.

No, I'm using the kiosk mode with a select employee.

**Normal**
![Peek 2020-06-04 13-47](https://user-images.githubusercontent.com/51266019/83724540-a7316d80-a66a-11ea-904e-53de1d0f2788.gif)

**Kiosk**
![Peek 2020-06-04 13-49](https://user-images.githubusercontent.com/51266019/83724566-b44e5c80-a66a-11ea-82f4-6996f7370ba1.gif)

![Sele

[2020-06-04 18:27] cvinh commented on #776
@ps-tubtim I'm sorry I cannot reproduce your issue (BTW I don't have any iphone)
Can you test with an android phone ?
@AdriaGForgeFlow

[2020-06-04 18:29] cvinh commented on #776
@kittiu It uses gps with smartphone if the user allows it
With a computer that does not have gps localization it uses IP Address

[2020-06-06 04:15] Saran440 commented on #776
@cvinh I tested on android phone (version 9) and can't check in too.
![error](https://user-images.githubusercontent.com/20896369/83935768-e2f14200-a7e6-11ea-9e60-c8b72a889811.gif)

but if i installed attendance module only. i can check in
![normal](https://user-images.githubusercontent.com/20896369/83935775-fa302f80-a7e6-11ea-82f0-33ea34ae6c2b.gif)

[2020-06-06 04:58] cvinh commented on #776
I'm sorry to hear that because I really don't know what can the problem be...
Did you use google chrome ?
Are you on the 12.0 branch ?
Are you using the lastest odoo commit ?
With a computer do you manage to checkin ?
Can you debug with a browser console ?
We do not face the problem here...

[2020-06-07 03:08] Saran440 commented on #776
@cvinh
Did you use google chrome ? -> yes, I use google chrome.
Are you on the 12.0 branch ? -> sure
Are you using the lastest odoo commit ? -> yes, I pull odoo and hr (oca) today.
With a computer do you manage to checkin ? -> it works on my computer. but not work on mobile.
Can you debug with a browser console ? -> I don't know how to debug on mobile. Can you advise me?

[2020-06-08 10:18] andreampiovesana opened #845 "[12.0] hr_attendance_rfid control double reading"
Sometimes employees attendance 2 times the check-in, we need a control that before 2 minutes (or more)  is not possible to register check-out

[2020-07-08 07:21] etobella opened #857 "[12.0] hr_attendance_modification_tracking: Issue on las upgrade"
With the new computed field, it takes too long to upgrade / install if there is  existing records (a large set, obviously).

I think we need to create a `pre_init_hook` and a `pre-migration` script creating the column in order to avoid this issue.

@js-landoo @jarroyomorales @alexey-pelykh @Saran440 @marcelsavegnago

[2020-07-08 07:42] jarroyomorales commented on #857
Yes, I also think we need a pre init for new instalations and a migration script for upgrades. Adding the new column will prevent the new stored computed field be calculated in old attendances, which is nice for a fast installation. This should be added to the readme so whoever wants to compute old attendances does it manually.

The other option is not doing anything but at least adding on the rea

[2020-08-05 16:01] amon-ra commented on #479
Why hr_employee_data_from_work_address is not added to migration list?

[2020-08-05 20:09] max3903 opened #866 "[RFC] hr_employee_reporting"
# Description

This module only provides the "Employees > Reporting" menu item for other modules to add Employees related reports.

# Usage

* Go to Employees > Reporting

[2020-08-05 20:11] max3903 opened #867 "[RFC] gamification_badge_report"
# Description

This module adds a report on employee badges.

# Usage

* Go to Employees > Reporting > Badges

# Technical Specifications

## gamification.badge.user

- [ ] Add a pivot view with the following measures: Count
- [ ] Add a menu item "Employees > Reporting > Badges" to open the pivot view

[2020-08-05 20:13] max3903 opened #868 "[RFC] gamification_award_report"
# Description

This module adds a report on employee awards.

# Usage

* Go to Employees > Reporting > Awards

# Technical Specifications

## gamification.badge.user

- [ ] Add a pivot view with the following measure: Count.
- [ ] Add a menu item "Employees > Reporting > Awards" to open the pivot view

[2020-08-05 20:22] pedrobaeza commented on #868
Shouldn't we create OCA/gamification?

[2020-08-05 20:23] alexey-pelykh commented on #868
Would be proper thing to do

[2020-08-19 13:49] crobarcro opened #871 "Potential new module, auto create employee when creating a user"
Hi,

I'm trying to create a new app which automatically creates a new employee when creating a new user. In my case, this was because I have a connection to an LDAP directory of users and they are created as contacts, rather than employees in Odoo. I tried to create the app for Odoo 12, which you can find here:

https://github.com/crobarcro/odoo-employee-from-users

I'd be happy to clean this up a

[2020-08-19 14:08] jarroyomorales commented on #871
Hi @crobarcro !

I have just tested this module and it is working as expected! I didnt see any error.
Can you propose this with a PR to OCA/hr so people can discuss about it and give you comments about the code?

Thank you!

[2020-08-19 14:12] pedrobaeza commented on #871
The problem is that the CLA is not signed by original authors, which is a requirement.

[2020-08-20 08:01] dreispt commented on #871
@crobarcro An external directory will also have many non-employees, such as external users and system accounts.
How do you address these cases?

[2020-08-20 08:49] crobarcro commented on #871
@pedrobaeza  Good point, this could be a problem, perhaps I could get the original authors to release it as they seem to have abandoned the app since Odoo 10.

@dreispt I don't ... yet. This is a work in progress

In principle I would like to do this based on some LDAP attribute value, perhaps configurable by the user, or perhaps by LDAP groups.

@jarroyomorales Thanks for testing! I wonder why I

[2020-08-20 08:57] Saran440 commented on #871
@crobarcro @dreispt
I think we should create new button or checkbox`create employee` on users view.
What do you think?

[2020-08-20 22:47] max3903 opened #872 "[RFC] hr_expense_receipt_require"
This module allows you to define expense products that requires a receipt to be submitted.

# Configuration

* Go to Expenses > Configuration > Expense Products
* Create or select a product
* Check the box "Require a receipt"

# Usage

* Create an expense with the previous product
* Try to submit the expense without an attachment --> "You need to provide a receipt to submit this expense!"
* Upload

[2020-08-20 23:02] max3903 opened #873 "[RFC] hr_expense_analytic_require"
This module allows you to make the analytic account on an expense a required field.

# Configuration

* Go to Expenses > Configuration > Settings
* Activate the analytic accounting
* Set a default analytic account

# Usage

* Go to Expenses
* Create or open an expense. The analytic account is required.

# Technical specifications

## res.company

* Add a many2one field "Default Analytic Account fo

[2020-08-21 02:56] alexey-pelykh commented on #872
`hr_expense_receipt_require`

[2020-08-21 02:56] alexey-pelykh commented on #873
`hr_expense_analytic_require`

[2020-08-21 03:54] rvalyi commented on #873
Hello, isn't this covered by our https://github.com/OCA/account-analytic/tree/12.0/account_analytic_required module already?
An expense will typically envolve an `account.user_type_id` for which you can set the property_analytic_policy to required, or do I miss something?

[2020-08-21 15:01] max3903 commented on #873
@rvalyi You are right. That would fulfill the required field part. I just added an option to have a default AA in case the expense is created from an email (or a receipt upload).

[2020-08-21 16:22] max3903 commented on #873
@rvalyi Second thought. The policy applies to all the accounts of the same type... That's too broad for my requirement. I can have journal item on expense-type accounts without AA. I just need a AA on accounts used by expensed product.

[2020-08-21 16:50] max3903 opened #874 "[RFC] hr_expense_project_require"
This module allows you to select a project and a task on an expense and use them to automatically set the analytic account.

# Configuration

* Go to Expenses > Configuration > Settings
* Activate the analytic accounting

# Usage

* Go to Expenses
* Create or open an expense.
* Select a project

# Technical specifications

## hr.expense

* Add a required many2one field "Project" (project_id) to pr

[2020-08-21 17:49] max3903 commented on #874
Installing the sale app allows to select the sale order and automatically set the AA.

[2020-08-21 17:49] #874 closed, assigned to max3903

[2020-09-04 17:44] Dariuzcm opened #882 "hr_period: date_range.py error when create period"
I'd an error when I tried to create a period,, it happend becouse when date_from or date_end are changed  try to assign hr.period object into an date.range object , on next the images, also happends into hr_fiscalyear by the way.

![Captura de pantalla de 2020-09-04 12-51-06](https://user-images.githubusercontent.com/28762220/92271479-7b15ca80-eead-11ea-9ec3-0f1b5369b9b8.png)
![Captura de pantalla

[2020-09-07 08:33] AaronHForgeFlow commented on #882
Hi, this was because the hierarchy in date ranges was added later hr_period was merged. I proposed first to disable the onchange more than a year ago (https://github.com/OCA/hr/pull/575), but the solution proposed is fine to me as well.

[2020-09-09 17:50] dreispt commented on #868
Not sure if it's worth the trouble.
I would rather only split when there are already enough gamification modules justifying it.

[2020-09-10 15:21] max3903 commented on #868
Requirement was dropped.

[2020-09-10 15:21] #868 closed, assigned to max3903

[2020-09-14 10:03] dreispt commented on #871
Sounds good. Make it a button or and Action menu option.
The Action menu can even be made to work on the list view to mass create employees.
I suggest naming it " Convert to Employee".
It would also be nice to have a related field, or smart button, to identify if you have a related employee, and navigate to it.

[2020-09-21 13:21] max3903 opened #886 "hr_expense_portal"
This module allows your customers to access the expenses related to their projects including the receipts.

# Usage

* Go to Expenses
* Create an expense
* Select a sale order and attach the receipt
* Submit, approve and post the journal entries

* As the customer of the sale order, go to the portal My Account > Expenses
* Open the expense and download the receipt

# Technical Specifications

Depe

[2020-09-24 21:59] YanShaolong opened #890 "HrOrgChartOverview"
module: hr_org_chart_overview
version: 13.0

**Steps to reproduce**
- Install to Odoo 13 Community
- Generate report from: Employees-Reporting

**Current behavior**
 Error message:
  Error occurs:
Traceback:
Error: QWeb2: Template 'HrOrgChartOverview' not found
    at Object.exception (http://localhost:8070/web/content/884-4a1fe58/web.assets_common.js:3692:7)
    at Engine._render (http://localhos

[2020-09-24 22:00] pedrobaeza commented on #890
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (https://runbot.odoo-community.org/runbot/116/13.0 - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even bet

[2020-09-27 21:18] YanShaolong commented on #890
Hi Pedro,

Thanks for the reply.
You are right, that I tested again on version 13.0-20191010 which is
working fine. The error I reported was on Odoo 13.0-20200827.
I tested in that runbot environment (Odoo 14.1alpha1), the different error
as below:
Steps:
- download code from Github
- put it in a zip named hr_org_chart_overview.zip
- log on to the runbot environment
- Activate developer mode
- Imp

[2020-09-27 21:55] pedrobaeza commented on #890
The import module feature is only for data/theme modules, so that's something expected. You must put it in your addons path.

Closing as no bug, but not doing properly.

[2020-09-27 21:55] #890 closed, assigned to nobody

[2020-09-29 12:01] #866 closed, assigned to max3903

[2020-10-04 10:29] OCA-git-bot opened #901 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] hr_branch - By @luistorresm  - #908
- [x] hr_contract_currency - By @aphon61bank - #930
- [x] hr_contract_document - By @alexey-pelykh - #1144
- [x] hr_contract_multi_job - By @aphon61bank - #933
- [x] hr_contract_rate - By @nimarosa - #1215
- [x] hr_employee_age - By @komsan-S - #928
- [x]

[2020-10-05 11:42] lgit-it commented on #776
my 2 cents (as I have the same problem)
it seems that if you disable geoloc in the browser for the site (or geolocation is disabled on the phone) the javascript has no fall-back,
and it is very hard to find where the browser store that config information.

I think it's fixable on the js part but unfortunately i'm unable...

[2020-10-09 19:16] luistorresm commented on #901
PR for [hr_branch](https://github.com/OCA/hr/pull/908)

[2020-10-13 00:57] luistorresm commented on #901
PR for [hr_employee_firstname](https://github.com/OCA/hr/pull/911)

[2020-10-14 13:07] AaronHForgeFlow commented on #882
This is already fixed. Please confirm @Dariuzcm .

[2020-10-15 09:18] thopy commented on #769
I had the same problem with Odoo 11 but after removing the value in state_ids on the record of hr.holidays.public.line it worked as expected.

[2020-11-09 10:19] komsan-S commented on #901
module hr_employee_age  https://github.com/OCA/hr/pull/928

[2020-11-10 04:24] Saran440 commented on #857
Fixed https://github.com/OCA/hr/pull/858

[2020-11-10 04:24] #857 closed, assigned to nobody

[2020-11-10 06:59] aphon61bank commented on #901
module hr_employee_phone_extension #929

[2020-11-12 03:39] aphon61bank commented on #901
module hr_contract_currency #930

[2020-11-12 06:14] aphon61bank commented on #901
module hr_contract_multi_job #933

[2020-11-12 07:24] aphon61bank commented on #901
module hr_employee_calendar_planning #934

[2020-11-12 08:45] aphon61bank commented on #901
module hr_employee_medical_examination #936

[2020-11-12 09:47] aphon61bank commented on #901
module hr_employee_relative #937

[2020-11-12 11:05] aphon61bank commented on #901
module hr_employee_service #938

[2020-11-13 08:36] aphon61bank commented on #901
module hr_employee_ssn #939

[2020-11-19 09:49] aphon61bank commented on #901
module hr_org_chart_overview #941

[2020-11-26 15:14] FranciscoBigWings opened #945 "[V12] hr_holidays_hour error in calculation"
Hello, I found what I think is a bug in this module

When choosing holidays by hours everything works well except when you have to choose any time span that include 12PM to 1PM.
Example:
- If I pick holidays from 11AM to 12PM it computes 1 hour. OK
- If I pick holidays from 1PM to 2PM it computes 1 hour. OK
- If I pick holidays from 12PM to 1PM it computes 0 hour. Error
- If I pick holidays from 1

[2020-12-12 01:12] hitrosol commented on #796
Hi @Saran440, i tried this module in the my local and runbot. It's working well until I install the hr_expense_payment_difference.
![image](https://user-images.githubusercontent.com/5949936/101968334-43a77e80-3c51-11eb-8980-a288b10710a4.png)

The amount to clear become zero after Register Payment. No further clear advance button.

[2020-12-25 03:43] Saran440 commented on #796
@hitrosol Hi, thank you for your feedback and Sorry for reply late. Could you open new issue and explain step to error from here https://github.com/OCA/hr/issues/new?

[2021-01-04 13:35] hitrosol opened #955 "V12: Bug when combining the hr_expense_advance_clearing with hr_expense_payment_difference."
Hi @Saran440, sorry for late response. I try to reproduce the steps as follow:
1. Install hr_expense_advance_clearing
2. Install hr_expense_payment_difference
3. Create new Cash Advance Request Report
4. Submit
5. Approve
6. Post
![image](https://user-images.githubusercontent.com/5949936/103540098-bfe95680-4ecb-11eb-9882-beafd7c85870.png)

7. Register Payment.
![image](https://user-images.githubus

[2021-01-07 09:50] Saran440 commented on #955
@hitrosol Fixed. Please, Review and test this PR https://github.com/OCA/hr/pull/957
Thank you for your find bug on this module :)

[2021-01-21 02:56] followcat opened #959 "V13: can not filter by hr field when using One2many with "res.users""
Hello, I define a field :
[code]
and has a from view include:
[code]
filter with hr field department_id in this view, and I can see the browse sent this request:
[code]
then get response with no records.
The code in hr module, file res_users.py
[code]
The problem is how can I get user(user_id) in form view use hr field filtering?

[2021-01-21 07:39] pedrobaeza commented on #959
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Little tip: use a related field.

Closing this by the reason above.

[2021-01-21 07:39] #959 closed, assigned to nobody

[2021-01-29 11:37] #955 closed, assigned to nobody

[2021-02-16 20:37] luistorresm opened #970 "[v13]: hr_employee_firstname: Access error on write method"
Steps:
1. Create a new user without settings access (HR User)
2. Login with the user in 1, and try to edit an employee

Current behavior:
I get the next error:

Expected:
Any user with employee access can edit the records

[2021-02-17 15:47] #970 closed, assigned to nobody

[2021-02-19 16:43] AaronHForgeFlow commented on #882
Can we close this?

[2021-02-27 13:24] Saran440 commented on #882
done with https://github.com/OCA/hr/pull/883

[2021-02-27 13:24] #882 closed, assigned to nobody

[2021-03-02 07:16] hitrosol opened #979 "hr_expense_sequence is not working for multi_company env"
hi @Saran440,

it seems the hr_expense_sequence is not working for multicompany environment.
I found error message as follow when i try to submit the expense report of the second company. It works well for the first company.

![image](https://user-images.githubusercontent.com/5949936/109611917-8fd3d200-7b61-11eb-8667-e1af8d05f8dc.png)

thanks

[2021-03-04 11:39] newtratip commented on #901
@Saran440, Could you update migration list for PR done ?

[2021-03-21 08:58] Saran440 commented on #979
@hitrosol Thank you for your reported bug. This month I very busy.
I will fix it as soon as possible or can you fix?

[2021-04-13 10:11] AntoniRomera opened #986 "POS printer does not work"
When module hr_org_chart_overview is installed, the printers stop working, when you press any print button it tries to render the ticket instead of sending it to the printer.

[2021-04-21 14:57] njeudy opened #987 "[12.0] hr_expense_invoice : can not create invoice from expense.sheet anymore ?"
Hello, for the last version of module some of code was removed and this is not possible anymore:

Create one invoice to multiple expenses

    Create an expense sheet with one or multiple expense lines
    After approved, click button "Create Vendor Bill"
    Select multiple expense to create an invoice, and process it.
    New invoice will be create and link to the selected expense lines.
    Val

[2021-04-21 16:46] pedrobaeza commented on #987
Creating an invoice for a whole sheet is totally incorrect. You can create an invoice per line, and now you have the wizard at line level.

[2021-04-21 16:46] #987 closed, assigned to nobody

[2021-04-21 22:04] njeudy commented on #987
I'm Sorry but that's not a way to do this. Removing a model for a minor update Can crash production database. Should deprecate this and remove this in major update .. or just Mask Button to not crash database like this !! Fasttrack a commit that remove a model from database is dangerous and not fair...

I use this assistant to create all single invoice per Line ... One click for all...

[2021-04-21 22:09] pedrobaeza commented on #987
This is not breaking any database. What is not correct are the journal items generated if you post a sheet with the same invoice for several lines, and that's why the wizard should be removed immediately.

[2021-04-22 07:32] njeudy commented on #987
I inherit 'hr.expense.create.invoice' for my customer to optimize invoice creation in there flow .. so it break the database because of removing this models from 12.0.3.4 to 12.0.4.0 without any review. Please don't break model in minor review. Your right, this assistant can do account.move problem, but not in all cases and your not the only one person to use oca module.

I will change my code to

[2021-04-22 15:55] pedrobaeza commented on #987
Maybe such wizard is not backported to v12. @victoralmau can you confirm if the wizard by line is in v12?

[2021-04-22 15:57] pedrobaeza commented on #987
For completing info, it was queried to the original contributor of such feature in https://github.com/OCA/hr-expense/pull/32#discussion_r602349092, so it was not a lonely decision.

[2021-04-23 05:59] njeudy commented on #987
I see this request, but was fast track, just technativa review and Merge as minor with removing modèles. That is not the oca rules, and Can cause lesser quality.

I will backport assistant because actually, this module is broken in v12

[2021-04-23 06:13] pedrobaeza commented on #987
Please don't insist. The module is not broken. You are able to create the invoice for one line (from the many2one), that is the correct case. It's OK that you backport the wizard, or we can do it next week.

About what you call the fast-track, it was not fast, as 5 days passed, and it was done by a PSC, so they are still OCA rules, and the result would be the same waiting more. Or are you telling

[2021-05-07 19:12] luisg123v opened #990 "[14.0] hr_employee_firstname: Traceback when loading timesheet"
Impacted versions:
- 14.0

Steps to reproduce:
- Install module `hr_timesheet`
- Go to timesheets -> My timesheet
- Pres the "A" key to add a new timesheet

Current behavior:

The following traceback is raised

[code]

Expected behavior:

No traceback.

AFAIK, this is because when this module was migrated to 14.0, new models were not considered. In 14.0, the employee model was split into three dif

[2021-05-07 19:12] luisg123v commented on #990
CC @luistorresm @lescobarvx

[2021-05-08 12:47] Saran440 commented on #979
@hitrosol I tested with multi company and found this error.
BUT it error because expense sequence is default first company.

you can check and config following:
1. Open dev mode
2. Go to Settings > Technical > Sequence & Identifiers > Sequences
3. Search name "Expense report sequence". this sequence default first company only.
if you need to common sequence, you can edit company out.
if not, you c

[2021-05-08 12:51] Saran440 commented on #979
@hitrosol I tested with multi company and found this error.
BUT it error because expense sequence is default first company.

you can check and config following:
1. Open dev mode
2. Go to Settings > Technical > Sequence & Identifiers > Sequences
3. Search name "Expense report sequence". this sequence default first company only.
if you need to common sequence, you can edit company out.
if not, you c

[2021-05-11 04:55] #979 closed, assigned to nobody

[2021-05-12 06:59] hitrosol commented on #979
Thanks @Saran440  for the explanation

[2021-05-21 15:07] oriolpiera opened #995 "[12] hr_attendance_report_theoretical_time: days with leave and without attendance appears with wrong theoretical hours after change employee calendar"
**Impacted versions:**
12.0

**Steps to reproduce:**

- Install module hr_attendance_report_theoretical_time
- Create and employee with Standard 40h
- Create a leave
- Change working times from Standard 40h
- Change de date for today+1
- Check report Theoretical vs. worked

**Current behavior:**
It seems that the recompute methods need at least an attendance to be recomputed. But when employees ar

[2021-05-27 17:32] oriolpiera commented on #995
The "-1" it wasn't a bug. We figured out.
The employee created the hr.leave (internal date_from 2021-05-14 08:00 to date_to 2021-05-14 17:00).
After that, we changed the "Standard 40h/week working times" to 09:00 to 18:00 hours.
So, all previous leave created, generate a debt in 1 hour (from 17 to 18).
It may be a bug, but I'm not sure that is from this module.

[2021-05-27 17:32] #995 closed, assigned to nobody

[2021-05-27 17:42] pedrobaeza commented on #995
Yes, we considered to recompute leave intervals in #966, but too much cost for the worth of such changes.

[2021-06-13 00:37] luisg123v commented on #990
Fixed on #1001

[2021-06-13 00:37] #990 closed, assigned to nobody

[2021-06-28 06:58] sergioeix opened #1006 "[13] Community hr_attendance_report_theoretical_time issue"
Steps to reproduce:
1 set a public holyday calendar with at least 1 fixed day public holiday
2 aprrove leave period of the employe that matches this day
3 try to open the theoretical report view including this employe

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_excep

[2021-06-28 07:02] pedrobaeza commented on #1006
This is due to an outdated `hr_holidays_public` source code.

[2021-06-28 07:02] #1006 closed, assigned to nobody

[2021-06-28 07:40] sergioeix commented on #1006
ty Pedro

El lun, 28 jun 2021 a las 9:03, Pedro M. Baeza ***@***.***>)
escribió:

[2021-07-26 09:40] astirpe commented on #580
This issue can be closed

[2021-07-26 13:08] #580 closed, assigned to nobody

[2021-08-09 15:30] obayit opened #1015 "[14.0] A unit test is failing for hr_employee_service"
Here is the error from our runbot:

[code]

[2021-08-20 14:05] FernandoRomera opened #1019 "Proposed module hr.course"
Hi, @etobella and @jarroyomorales

In v14.0 i like rename "hr.course" to "hr.course.schedule" and create a new table "hr.course", add this fields in "hr.course": content, descriptions, ...

The relationship of tables would be as follows:
    "hr.course.category" <- "hr.course" <- "hr.course.schedule"

If it's OK with you, I can propose a PR (also migrations directory).

[2021-08-20 14:32] etobella commented on #1019
Not blocking for me but might be easier to call it hr.course.program this way you don't need to rename the table and might be easier for the migration script. WDYT?

[2021-08-27 14:54] #1015 closed, assigned to nobody

[2021-08-31 12:25] ypapouin commented on #901
Please add following modules to the task list:
- [ ] hr_holidays_public
- [ ] hr_holidays_validity_date

[2021-08-31 13:42] pedrobaeza commented on #901
No, they are in OCA/hr-holidays.

[2021-09-06 13:30] ghost opened #1024 "Create new ppe"
https://github.com/OCA/hr/blob/17ab4ed71bd1545a28d41bd76fca35831b036599/hr_employee_ppe/models/hr_employee_ppe.py#L46

Whe going on menu Employee/PPEs/PPE alocation and clic on create an error occured :

"Un problème est survenu!
×
hr.employee.ppe(<NewId 0x7fb49c32f198>,).name"
![G6GjfYseNU](https://user-images.githubusercontent.com/8876027/132224851-7d1f7e24-faeb-4e97-b19c-8ee421d654e0.png)

Rega

[2021-09-06 13:35] ghost commented on #1024
Same issue with fields status

[2021-09-13 15:39] silverf0x0 commented on #901
I've noticed that hr_holidays_public is not in the list yet. Is there a specific reason?

[2021-09-13 15:56] silverf0x0 commented on #683
Is hr_payslip_change_state missing or its functionalities have been migrated elsewhere?

[2021-09-13 15:57] silverf0x0 commented on #901
Is hr_payslip_change_state missing or its functionalities have been migrated elsewhere?

[2021-09-13 16:16] pedrobaeza commented on #901
It's migrated in OCA/hr-holidays

[2021-09-15 08:39] silverf0x0 commented on #901
@pedrobaeza thanks a lot, I  was missing it

[2021-10-07 14:56] victoralmau commented on #901
`hr_recruitment_notification` https://github.com/OCA/hr/pull/1034

[2021-10-17 10:15] OCA-git-bot opened #1036 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] hr_branch - By @yaseentai - #1201
- [ ] hr_contract_currency
- [ ] hr_contract_employee_calendar_planning - By @jonasbuchholz - #1182
- [ ] hr_contract_multi_job - By @yaseentai - #1202
- [x] hr_contract_reference - By @sanchonuria - #1139
- [ ] hr_course
- [x] hr_department_code - By @Theer

[2021-10-18 16:53] luistorresm commented on #1036
hr_employee_firstname -> https://github.com/OCA/hr/pull/1038 Merged
hr_employee_lastnames  -> https://github.com/OCA/hr/pull/1046

[2021-10-20 13:35] FernandoRomera commented on #1019
PR #1039

[2021-10-25 15:28] TelmoSuarezConinpe commented on #901
hr_employee_ppe #1042

[2021-10-25 15:42] TelmoSuarezConinpe commented on #1024
You have to set store=True for the fields that contain the compute method.

I have done a PR for migrating this modulo to 14.0 at #1042

[2021-11-05 00:07] marcelsavegnago opened #1047 "[12.0][BUG]hr_expense_invoice: when you change the partner_id, the invoice lines are deleted."
When generating a supplier invoice, as the partner_id is empty, when changing the partner_id the system clears the invoice lines. Is this behavior expected?

![2021-11-04 20-36-02](https://user-images.githubusercontent.com/3595132/140436740-194ae4b9-ee9c-4d52-b3c6-95acc728da23.gif)

[2021-11-15 06:46] #1019 closed, assigned to nobody

[2021-11-23 08:42] pegonzalezspesol commented on #1036
working on hr_employee_age #1059

[2021-11-28 12:06] #157 closed, assigned to nobody

[2021-11-28 12:06] #259 closed, assigned to nobody

[2021-11-28 12:06] #374 closed, assigned to nobody

[2022-01-16 12:07] #473 closed, assigned to nobody

[2022-01-16 12:07] #479 closed, assigned to nobody

[2022-01-18 13:59] AntoniRomera commented on #901
- hr_employee_ppe: #1067

[2022-01-23 12:08] #483 closed, assigned to nobody

[2022-01-23 12:08] #484 closed, assigned to nobody

[2022-01-23 12:08] #512 closed, assigned to nobody

[2022-01-30 12:07] #520 closed, assigned to nobody

[2022-02-23 15:31] jonasbuchholz opened #1081 "[hr_employee_calendar_planning] Client Error when clicking on schedule"
## Module
hr_employee_calendar_planning 14.0

## Describe the bug
When clicking on the Calendar planning schedule in the employee form view (not in edit mode) an Odoo Client Error is raised.

## To Reproduce
**Affected versions**:
Encountered on empty database (enterprise) with version 14.0.1.3.0

Steps to reproduce the behavior:
1. Init empty database with demo data and hr_employee_calendar_plann

[2022-02-27 12:08] #573 closed, assigned to nobody

[2022-02-27 12:08] #602 closed, assigned to nobody

[2022-03-06 12:10] #610 closed, assigned to nobody

[2022-03-06 12:10] #615 closed, assigned to nobody

[2022-03-06 12:10] #620 closed, assigned to nobody

[2022-03-13 12:08] #646 closed, assigned to alexey-pelykh

[2022-03-14 11:12] yaseentai commented on #1036
working on :
hr_branch #1201
hr_contract_multi_job #1202

[2022-03-16 20:50] pegonzalezspesol commented on #1036
working on hr_employee_calendar_planning #1086

[2022-03-22 19:44] anicoa opened #1088 "[12.0] hr_attendance_report_theoretical_time does not include days without attendace"
Hello,

I realized that the module does not include days without any attendance in the calculation of the theoretical time. Now I'm wondering what's the reason for this way of implementation and if a PR for a solution of this topic would be welcomed.

[2022-03-22 19:48] pedrobaeza commented on #1088
That's exactly the contrary the module does. Check your parameters, as that's the main goal.

[2022-03-22 19:48] #1088 closed, assigned to nobody

[2022-03-27 12:09] #657 closed, assigned to nobody

[2022-04-10 12:09] #664 closed, assigned to nobody

[2022-04-17 12:11] #667 closed, assigned to max3903

[2022-04-17 12:11] #674 closed, assigned to nobody

[2022-04-24 12:09] #683 closed, assigned to nobody

[2022-05-08 12:10] #716 closed, assigned to nobody

[2022-06-05 12:10] #755 closed, assigned to nobody

[2022-06-12 12:09] #769 closed, assigned to nobody

[2022-06-14 15:05] #796 closed, assigned to nobody

[2022-06-19 12:10] #776 closed, assigned to nobody

[2022-06-19 12:10] #781 closed, assigned to nobody

[2022-07-13 09:52] PureAnthony opened #1130 "[V14] hr_public_holidays | No rights applied on buttons"
## Module
hr_public_holidays

## Describe the bug
The buttons "Approve", "Validate" and "Refuse", visible on many lists, have a "group" attribute, to manage rights.
This attribute gives successfuly the "invisible='1'" on the buttons, but it doesn't do anything, the buttons stay visible anyway...

## To Reproduce
**Affected versions**: 14

Steps to reproduce the behavior:
1. Log in with a rightless

[2022-07-13 10:45] pedrobaeza commented on #1130
This has nothing to do with the referred module, so closing.

[2022-07-13 10:45] #1130 closed, assigned to nobody

[2022-07-13 12:01] PureAnthony commented on #1130
Then where should I post my issue to be helped with hr_holidays_public ??

[2022-07-13 12:16] pedrobaeza commented on #1130
As said, the module `hr_public_holidays` has nothing to do with rights or the buttons you mention.

[2022-07-17 12:10] #815 closed, assigned to nobody

[2022-07-31 12:11] #838 closed, assigned to nobody

[2022-08-14 12:10] #845 closed, assigned to nobody

[2022-08-19 18:54] nimarosa opened #1136 "[14.0] [BUG] hr_period - Instal error , comparison with false"
## Module
Module: hr_period

## Describe the bug
Error installing the module. It seems that somehow the module when installed do a comparison with datetime and boolean. Here is the screen of the error:

<img width="759" alt="Screen Shot 2022-08-19 at 15 51 18" src="https://user-images.githubusercontent.com/12401188/185687704-33482dc6-2f5f-407f-9fcc-018afef66d76.png">

## To Reproduce
**Affected ve

[2022-08-23 09:34] #1081 closed, assigned to nobody

[2022-08-28 12:10] #867 closed, assigned to max3903

[2022-09-01 19:36] EstebanMonge opened #1140 "How can I use inputs on salary rules?"
I am trying to use the inputs on hr_payroll. So for example I created one input on salary rules names description tramo with code 1000.

So in the calculation I put the following code.
if inputs.tramo == 1000:
    result=1000
else:
    result=2000

But the condition is always false.
## Module
hr_payroll

## Describe the bug
input rules are broken. Always got false on conditions

## To Reproduce
15

[2022-09-01 20:00] pedrobaeza commented on #1140
Please do such questions on the Odoo forums. This issue tracker is for handling issues with the modules hosted here (which is not the case for `hr_payroll`).

[2022-09-01 20:00] #1140 closed, assigned to nobody

[2022-09-07 22:01] #1136 closed, assigned to nobody

[2022-09-11 12:11] #871 closed, assigned to nobody

[2022-09-11 12:11] #872 closed, assigned to max3903

[2022-09-11 12:11] #873 closed, assigned to max3903

[2022-09-20 02:35] nimarosa commented on #886
Closed till it was merged long time ago.

[2022-09-20 02:35] #886 closed, assigned to max3903

[2022-10-02 12:13] #945 closed, assigned to nobody

[2022-10-03 16:22] sbidoul opened #1141 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] he_employee_lastnames - By @luistorresm - #1156
- [x] hr_contract_employee_calendar_planning - By @jonasbuchholz - #1324
- [x] hr_contract_multi_job - By @AlexPForgeFlow - #1285
- [x] hr_contract_reference - By @jaenbox - #1216
- [ ] hr_contract_type - By @mtelahun - #1321
- [ ] hr_course -

[2022-10-23 12:14] #986 closed, assigned to nobody

[2022-10-30 12:13] #1024 closed, assigned to nobody

[2022-11-05 00:43] luistorresm commented on #1141
[hr_employee_firstname](https://github.com/OCA/hr/pull/1154)

[2022-11-06 21:20] mymage commented on #1141
I migrate:
- hr_employee_partner_external #1155

[2022-11-07 16:25] luistorresm commented on #1141
[hr_employee_lastnames](https://github.com/OCA/hr/pull/1156)

[2022-11-13 12:12] #1047 closed, assigned to nobody

[2022-11-22 19:18] cvinh opened #1163 "[14.0][hr_employee_calendar_planning] We cannot create employee from a user"
## Module
hr_employee_calendar_planning

## Describe the bug
We cannot create an employee from the user form

## To Reproduce
14.0

Steps to reproduce the behavior:
1. From a user, click on the button "Create employee"
2. User Error : You can not create employees without any calendar.

**Expected behavior**
The employee can be created and we can add planning afterwards

[2022-11-28 06:52] TheerayutEncoder commented on #1036
hr_department_code -> https://github.com/OCA/hr/pull/1164 Merged